<!-- <!DOCTYPE html><html>
  <head>
    <meta
      charset="UTF-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
      <title>Financial Planning and Advisory Services Works | ArthaYantra</title>
      <meta name="description" content="Our online financial planning and advice works with robo advisory technology to give you a comprehensive and unbiased advice to help you reach your financial goals.">
      <meta name="keywords" content="how financial plannin works, how to do financial planning, financial planning in india, personal financial planning, financial planner">
      <link rel="icon" href="assets/favicon.png" alt="favicon" type="image/png">
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700" rel="stylesheet">
      <link rel="stylesheet" href="assets/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="assets/style.css">
      <link rel="stylesheet" href="assets/animate.css">
  </head> -->

<body >
<div class="topbar" style="margin-top: 40px">
     <nav class="navbar navbar-expand-lg navbar-light bg-light cust-nav" >
        <a class="navbar-brand" href="#">Buckwise</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left: 100px">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active"><a class="nav-link" href="#">HOW IT WORKS <span class="sr-only">(current)</span></a></li>
            <li class="nav-item"><a class="nav-link" href="#">OUR IMPACT</a></li>
            <li class="nav-item"><a  class="nav-link" href="#">OUR PLANS</a></li>
            <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                RESOURCES</a>
              <div class="dropdown-menu " aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Research Reports</a>
                <a class="dropdown-item" href="#">Newsletters</a>
                <a class="dropdown-item" href="#">Support</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Blog</a>
              </div>
            </li>
          </ul>
        </div>
        <span class="btn-top">
            <a target="_blank" href="#">
            <span class="btn-c">FOR EMPLOYERS</span></a>
        </span>
      </nav>
    </div>


<div class="sticky-signup">
  <div class="signup-login">
    <a href="#">
      <span id="signup-btn">Sign Up</span></a>
      <a href="https://Buckwise.arthayantra.com/login.html">
        <span id="login-btn">Log In</span></a>
      </div>
    </div>

    <div class="main-content slide">
        <div class="cover-section2 how-bg" >
          <h1>Buckwise: An Advanced Platform, Yet Simple to Use</h1>
          <p>Interact With the Demo Below To Understand How It Helps You</p>
      </div>
      <div class="section-1" id="arthos-demo">
        <div class="container">
          <div class="row">
            <div class="col-11 how-arthos-work">
              <div class="arthos-topic"><div class="row arthos-topic-bg">
                <div class="col-4 arthos-topics active" id="arthos-topic-1"><a href="#arthos-plan">1. Plan</a>
                </div>
                <div class="col-4 arthos-topics" id="arthos-topic-2"><a href="#arthos-execute">2. Execute</a>
                </div>
                <div class="col-4 arthos-topics" id="arthos-topic-3"><a href="#arthos-manage">3. Manage</a>
                </div>
              </div>
            </div>
            <div class="arthos-whole">
              <div id="arthos-plan"><div class="col-12 arthos-headline">First, You Enter Your Financial Information</div>
              <div class="col-12 progress-bar-arthos">
                <div class="progress-line"></div>
                <div class="row">
                  <div class="progress-circle col-3" id="c1">
                    <i class="icon-check"></i>
                  </div>
                  <div class="progress-circle col-3" id="c2"><i class="icon-check"></i>
                  </div>
                  <div class="progress-circle col-3" id="c3"><i class="icon-check"></i>
                  </div>
                </div>
              </div>
              <div
class="container arthos-step"><div
class="row"><div
class="col-md-3 col-sm-12 arthos-steps" id="s1">My Current Status<img
src="assets/plan-step1.png" alt="step 1 plan"></div><div
class="col-md-3 col-sm-12 arthos-steps" id="s2">My Goals<img
src="assets/plan-step2.png" alt="step 2 plan"></div><div
class="col-md-3 col-sm-12 arthos-steps" id="s3">My Risk Assessment<img
src="assets/plan-step3.png" alt="step 3 plan"></div></div></div><div
class="col-12 arthos-topic"><div
class="get-advice arthos-topics"><a
href="#arthos-advice">Click here to see the Financial Advice</a></div></div></div><div
class="container" id="arthos-advice"><div
class="row"><div
class="col-12 arthos-headline">Next, Your Financial Advice is Generated</div><div
class="col-12 arthos-steps"><img
src="assets/advice-step.png" alt="advice by arthos"></div><div
class="col-md-9 col-sm-12 arthos-reco">Your personalized advice is immediately provided, along with a custom-built portfolio for your investments. You will be assigned a certified personal advisor to help you understand your advice.</div><div
class="col-md-3 col-sm-12 get-advice" id="execute-button"><a
href="#">Execute</a></div></div></div><div
id="arthos-execute"><div
class="col-12 arthos-headline">Put Your Financial Advice to Work By</div><div
class="container arthos-step"><div
class="row"><div
class="col-md-8 col-sm-12"><div
class="arthos-steps">Investing in Mutual Funds<img
src="assets/exec-step1.png" alt="investment portfolio"></div></div><div
class="col-md-4 col-sm-12"><div
class="arthos-steps">Buying other Recommended Products<img
src="assets/exec-step2.png" alt="arthos products"></div></div><div
class="col-md-9 col-sm-12 arthos-reco">A single platform to enable buying of not just the recommended mutual funds, but other financial products!</div><div
class="col-md-3 col-sm-12 get-advice" id="manage-button"><a
href="#">Manage</a></div></div></div></div><div
id="arthos-manage"><div
class="col-12 arthos-headline">Finally, Manage Your Journey with Us!</div><div
class="container arthos-step"><div
class="row"><div
class="col-md-6 col-sm-12"><div
class="arthos-steps">Review and Rebalance your Portfolio<img
src="assets/manage-step1.png" alt="track your investments"></div></div><div
class="col-md-6 col-sm-12"><div
class="arthos-steps">Track Your Goals<img
src="assets/manage-step2.png" alt="track your goals"></div></div><div
class="col-md-9 col-sm-12 arthos-reco">Track your investments and goals real time, and watch yourself make your way towards a healthy financial life.</div><div
class="col-md-3 col-sm-12 get-advice" id="review-button"><a
href="#">Review</a></div></div></div></div><div
id="arthos-review"><div
class="col-12 arthos-headline">Review/Update Your Financial Plan as per Changing Life Situations</div><div
class="container arthos-step"><div
class="row"><div
class="col-md-5 col-sm-12"><div
class="arthos-steps"><img
src="assets/review-step.png" alt="review the plan"></div></div><div
class="col-md-12 col-sm-12 arthos-reco">Go through 6-monthly reviews of your financial plan to ensure your recommendations accommodate the changes in your life.</div></div></div></div></div><div
class="row">
<div class="col-4 arthos-topics" id="arthos-topic-4"><a href="#arthos-review">4. Review</a></div></div></div></div></div></div><div
class="section-2 fixed-section" id="our-tech"><div
class="container"><div
class="row"><div
class="col-12 title-section"><h1>How Do We Make This Possible For You</h1></div><div
class="col-11 arthos-techs"><div
class="row"></div><div
class="row"><div
class="col-md-7 col-sm-12 arthos-tech-img"><img
src="assets/arthos-interconnection.png" alt="arthos is interconnected"></div><div
class="col-md-5 col-sm-12 arthos-tech-exp"><div
class="row"><div
class="ay-reply-box"><p>In real life, your financial decisions are interconnected. Our technology is developed to assess the impact of every financial decision you make on all other aspects and provide your advice accordingly.</p></div></div></div></div></div><div
class="col-11 arthos-techs"><div
class="row"><div
class="col-md-7 col-sm-12 arthos-tech-img"><img
src="assets/ay-tech-img02.png" alt="financial decisions"></div><div
class="col-md-5 col-sm-12 arthos-tech-exp"><div
class="row"><div
class="ay-reply-box"><p>ARTHOS uses these decision algorithms to build the interconnections based on the provided financial information and arrive at the right advice for you.</p></div></div></div></div></div><div
class="col-11 arthos-techs"><div
class="row"><div
class="col-md-7 col-sm-12 arthos-tech-img"><img
src="assets/advice-pyramid.png" alt="advice pyramid"></div><div
class="col-md-5 col-sm-12 arthos-tech-exp"><div
class="row"><div
class="ay-reply-box"><p>The financial plan generated for you follows the Financial Pyramid structure, ensuring that your foundation is strong and resources are smartly allocated so that your goals are achieved.</p></div></div></div></div></div></div></div></div><div
class="section-3 fixed-section" id="section-3"><div
class="container"><div
class="row"><div
class="col-12 title-section"><h1>Why Do Our Users Love Us?</h1></div><div
class="col-md-8 col-sm-12 para-section-2"><ul><li>Despite our sophisticated technology, we are simple to use and avoid using confusing or complex language.</li><li>Get your financial planning, execution and tracking done entirely online! Say goodbye to office visits.</li><li>Every query regarding your finances will be answered, no matter how silly or complicated!</li><li>We provide great support to our users at every step of their journey with us. Think money, Think ArthaYantra!</li></ul></div><div
class="col-10 testimonial-bg"><div
class="ay-quotes">
<i
class="icon-quotes-left"></i><div
class="ay-quote">ArthaYantra has built an automated financial advisor (roboadvisor) based on an algorithm-engine that advises users on wealth management. The algorithm engine can be replicated in other verticals and to other clients needing an automated decision engine.</div><div
class="quote-right"><i
class="icon-quotes-right"></i></div></div><div
class="footer-testimonial">&mdash; &nbsp;<img
src="assets/gartner.png" alt="gartner logo" width="100" height="23"></div></div></div></div></div><div
class="section footer-section-1" id="section10"><div
id="footeranim"></div><div
class="container"><div
class="row"><div
class="col-12 footer-signup"><div
class="ay-quotes footer-quote col-md-6 col-sm-12"><i
class="icon-quotes-left"></i><div
class="ay-quote">I am living peaceful &amp; stress-free life which is helping me more to contribute towards my career &amp; other important things in my life.</div><div
class="quote-right"><i
class="icon-quotes-right"></i></div></div><div
class="footer-testimonial col-md-6 col-sm-12">&mdash; Mahesh Cholle</div><div
class="footer-center-text"><h1>Mahesh decided to have a stress-free financial life. How about you?</h1></div><div
class="signup"><a
href="https://arthos.arthayantra.com/signup-now.html">Get Started Now</a></div></div></div></div></div><div
class="section fp-auto-height footer-section-2 fixed-section" id="section11"><div
class="footer-bottom"><div
class="container"><div
class="row"><div
class="col-12 mtop"><div
class="container"><div
class="row"><div
class="footer-resources col-md-3 col-lg-2 col-sm-12"><div
class="collapsable-btn">Financial Planning <i
class="icon-chevron-down footer-fa" aria-hidden="true"></i></div><ul
class="footer-links"><li><a
href="financial-health-check">Financial Health Check</a></li><li><a
href="goal-planning">Goal Planning</a></li><li><a
href="risk-planning">Risk Planning</a></li><li><a
href="investment-planning">Investment Planning</a></li><li><a
href="tax-planning">Tax Planning</a></li><li><a
href="podcast">Videos</a></li></ul></div><div
class="footer-resources col-md-3 col-lg-2 col-sm-12"><div
class="collapsable-btn">Company <i
class="icon-chevron-down footer-fa" aria-hidden="true"></i></div><ul
class="footer-links"><li><a
href="about-us">About Us</a></li><li><a
href="support">Contact Us</a></li><li><a
href="support#faq">FAQs</a></li></ul></div><div
class="footer-resources col-md-6 col-lg-4 col-xl-3 col-sm-12"><div
class="collapsable-btn">Connect With Us <i
class="icon-chevron-down footer-fa" aria-hidden="true"></i></div><div
class="footer-links"><div
class="fa-icons">
<a
target="_blank" href="https://www.youtube.com/user/arthayantra/videos" title="youtube"><i
class="icon-youtube" aria-hidden="true"></i></a>
<a
target="_blank" href="https://twitter.com/ArthaYantra"><i
class="icon-twitter" aria-hidden="true"></i></a>
<a
target="_blank" href="https://www.facebook.com/arthayantra"><i
class="icon-facebook" aria-hidden="true"></i></a>
<a
target="_blank" href="https://plus.google.com/+ArthaYantraHyderabad/posts?hl=en"><i
class="icon-google-plus" aria-hidden="true"></i></a>
<a
target="_blank" href="https://www.linkedin.com/company/artha-yantra"><i
class="icon-linkedin" aria-hidden="true"></i></a></div><div
class="address">Corporate and Registered Office:<br>3rd Floor, Sai Galleria, Plot No. 472, Road No. 36, Jubilee Hills, Hyderabad, India 500 033. <br>CIN: U74900TG2007PTC053246<br><br><a
href="tel:+919100123693">+91 9100 123 693</a><br><br>Mail: <a
href="mailto:care@arthayantra.com">care@arthayantra.com</a></div></div></div><div
class="registered-fa col-lg-4 col-xl-5 col-md-12 col-sm-12"><p>ArthaYantra Corporation Private Limited is SEBI Registered Investment Advisor (RIA No - INA200006716, Valid from 29/11/2016 to 28/11/2021). We are IRDAI Registered Corporate Agent ( Composite) - Registration ID CA0539 and also registered with AMFI as a mutual fund distributor bearing ID : ARN54840</p></div></div></div></div><div
class="col-12 footer-legal"><div
class="container"><div
class="row"><hr><div
class="footer-legal-items col-md-8 col-sm-12"><div
class="container"><div
class="row"><div
class="col-sm-6 col-md-4 col-lg-3 col-6"><a
href="terms-and-conditions">Terms &amp; Conditions</a></div><div
class="col-sm-6 col-md-4 col-lg-2 col-6"><a
href="disclosure">Disclosure</a></div><div
class="col-sm-6 col-md-4 col-lg-2 col-6"><a
href="wealth-management-disclaimer">Disclaimer</a></div><div
class="col-sm-6 col-md-4 col-lg-2 col-6"><a
href="media-kit">Media Kit</a></div><div
class="col-sm-6 col-md-4 col-lg-2 col-6"><a
href="certified-financial-planner-sitemap">Site Map</a></div></div></div></div><div
class="footer-copyright col-md-4 col-sm-12 col-12">© Copyright 2018 ArthaYantra Pvt. Ltd</div></div></div></div></div></div></div></div></div> <script src="https://arthayantra-wdgtfj8eml.stackpathdns.com/wp-content/themes/ay/js/animation-data.js"></script> <script src="https://arthayantra-wdgtfj8eml.stackpathdns.com/wp-content/themes/ay/js/jquery-3.2.1.min.js"></script> <script src="https://arthayantra-wdgtfj8eml.stackpathdns.com/wp-content/themes/ay/js/bootstrap.min.js"></script> <script src="https://arthayantra-wdgtfj8eml.stackpathdns.com/wp-content/themes/ay/js/footer-anim.js"></script> <script type="text/javascript">$(window).scroll(function() {
			if ($('.footer-section-1').isOnScreen() == true) {
				$('#footeranim').fadeIn(600);
			}
			else {
				$('#footeranim').fadeOut(600);
			}
		});

		$(function(){
			if ($(window).width() < 768) {
				$('.footer-fa').css('display', 'inline');
				$('#section11').addClass('fp-auto-height-responsive');
				$('.footer-links').hide();
				$('.footer-resources').each(function(){
					var $dropdown = $(this);
					$('.collapsable-btn', $dropdown).click(function(e) {
						e.preventDefault();
						$div = $('.footer-links', $dropdown);
						$div.slideToggle();
						$('.footer-links').not($div).slideUp();
						return false;
					});
				});
				$('.main-content').click(function(){
					$('.footer-links').slideUp();
				})
			}
			else
			{
				$('#section11').removeClass('fp-auto-height-responsive');
				$('.footer-links').show();
			}
		});</script> <script src="https://arthayantra-wdgtfj8eml.stackpathdns.com/wp-content/themes/ay/js/index.js"></script> <script type="text/javascript">$('.arthos-topics a').on('click', function (e) {

		  	$('html,body').animate({
				scrollTop: $(".how-bg p").offset().top},
			'ease');

			e.preventDefault();

			target = $(this).attr('href');

			$('.arthos-whole > div').not(target).hide();
			$(target).fadeIn(300);

			if ($('#arthos-topic-4 a').parent().addClass('active')) {
				$('.arthos-topic-bg').children().removeClass('active');
			}

			$(this).parent().addClass('active');
			$(this).parent().siblings().removeClass('active');

			if ($('.arthos-topic .arthos-topics a').parent().hasClass('active')) {
			$('#arthos-topic-4 a').parent().removeClass('active');
			}
		});


		$('#execute-button').click(function(e){
			e.preventDefault();
			$('#arthos-topic-2 a').trigger('click');
		});

		$('#manage-button').click(function(e){
			e.preventDefault();
			$('#arthos-topic-3 a').trigger('click');
		});

		$('#review-button').click(function(){
			$('#arthos-topic-4 a').trigger('click').parent().addClass('active');
		});</script>  <script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
 (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
 m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
 })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

 ga('create', 'UA-2118224-2', 'auto');
 ga('send', 'pageview');</script> <script>!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '1659227647718859'); // Insert your pixel ID here.
fbq('track', 'PageView');</script> <noscript><img
height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=1659227647718859&ev=PageView&noscript=1"
/></noscript>
 <script>jQuery(document).ready(function(){
		var mainurl = window.location.href;
		var querystring=mainurl.substring(mainurl.indexOf("?")+1);
		if(mainurl.indexOf("landingPage")>0){
			jQuery('[src="https://arthos.arthayantra.com/landing/new-survay-page/index1name2.html"]').attr('src','https://arthos.arthayantra.com/landing/new-survay-page/index1name2.html?'+querystring);
		}
	});</script> <script>window.intercomSettings = {
    app_id: "g8gsk8v5"
  };</script> <script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/g8gsk8v5';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script> </body></html>
