
<div style="font-size: 15px;">
<div class="container">

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin-top: 20px"> 
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                      <li class="nav-item " style="margin-left:10px">
                <a class="nav-link" ><h3>Fin Health Score 100/1000</h3><span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link"style="margin-left:150px" ><h3>Surplus</h3></a>
              </li>
              <li class="nav-item"style="margin-left:150px">
                <a class="nav-link " ><h3>Networth</h3></a>
              </li>
              <li class="nav-item"style="margin-left:150px">
                <a class="nav-link " ><h3>Goal Achievable 1/1</h3></a>
              </li>
            </ul>
</div>
  </nav>

<div><!-- nav tab coding -->
  <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical" style="margin-right: 900px">
          <a class="nav-link active" id="v-pills-utility-tab" data-toggle="pill" href="#v-pills-utility" role="tab" 
          aria-controls="v-pills-utility" aria-selected="true">Gross</a>
          <a class="nav-link" id="v-pills-travel-tab" data-toggle="pill" href="#v-pills-travel" role="tab" 
          aria-controls="v-pills-travel" aria-selected="false">80c</a>
          <a class="nav-link" id="v-pills-house-tab" data-toggle="pill" href="#v-pills-house" role="tab" 
          aria-controls="v-pills-house" aria-selected="false">Home Deduction</a>
          <a class="nav-link" id="v-pills-loan-tab" data-toggle="pill"  href="#v-pills-loan" role="tab" 
          aria-controls="v-pills-loan" aria-selected="false">80D Deduction</a>
          <a class="nav-link" id="v-pills-insurance-tab" data-toggle="pill"  href="#v-pills-insurance" role="tab" 
           aria-controls="v-pills-insurance" aria-selected="false">Other Deduction</a>
  </div>
        
<!--<div class="row pull-right" style="margin-top: -140px;">
        <button type="button" (click)="submitUser()" class="btn btn-link">
            <span>
                <i class="fa fa-save" aria-hidden="true"></i><h6>Save</h6>
            </span>
        </button>
        <button type="button" class="btn btn-link">
            <span>
                <i class="fas fa-sync fa-spin" aria-hidden="true"></i> <h6>Reset</h6>
            </span>
        </button>
        <button type="button" class="btn btn-link">
            <span>
                <i class="fa fa-info" aria-hidden="true"></i> <h6>Help</h6>
            </span>
        </button>
  </div><!-- button code end -->

      <div class="tab-content" id="v-pills-tabContent" style="margin-top:-110px;margin-left: 300px">
        <div class="tab-pane fade show active" id="v-pills-utility" role="tabpanel" 
        aria-labelledby="v-pills-utility-tab">
        <h2>Gross</h2>
        <div class="row pull-right" style="margin-top: -50px;">
        <button type="button" class="btn btn-link"(click)="onGrossSave()"data-toggle="modal" data-target="#exampleModalCenter">
          <span>
        <i class="fa fa-save" aria-hidden="true"></i><h6>Save</h6>
          </span>
        </button>
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Gross Amount</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <h3>Your Gross Amount saved successfully</h3>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        <button type="button" class="btn btn-link">
          <span>
        <i class="fas fa-sync fa-spin" aria-hidden="true"></i> <h6>Reset</h6>
          </span>
        </button>
        <button type="button" class="btn btn-link">
          <span>
        <i class="fa fa-info" aria-hidden="true"></i> <h6>Help</h6>
           </span>
        </button>
          </div>
              <section>
                      <div class="container">
                      <div class="row wow fadeIn">
                      <div class="col-sm-12">
          <div id="accordion" role="tablist" aria-multiselectable="true" class="panel-group">
            <div class="panel panel-default">
               <div id="headingOne" role="tab" class="panel-heading">
                  <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Income From salaries(per Annum)</a></h4>
          </div>
            <div id="collapseOne" role="tabpanel" aria-labelledby="headingOne" class="panel-collapse collapse in">
                <div class="panel-body">
                  <table class="table">
                    <thead class="thead-light">
                      <tr><!--Head of table start-->
                       <th scope="col">Name</th>
                       <th scope="col"></th>
                       <th scope="col"></th>
                       <th scope="col">Amount</th>
                      </tr>
                     </thead><!--Head of table end-->
                     <tbody><!--Body of table start-->
                       <tr>
                      <th scope="row">Basic Salary</th>
                      <td></td>
                      <td></td>
                      <td><input type="text" value="0"name="bsalary"[(ngModel)]="gross.bsalary"></td>
                       </tr>
                       <tr>
                      <th scope="row">DA</th>
                      <td></td>
                      <td></td>
                      <td><input type="text" value="0"name="da"[(ngModel)]="gross.da"></td>
                       </tr>
                       <tr>
                      <th scope="row">HRA(Click checkbox if you are staying in metro city)</th>
                      <td><input type="checkbox"></td>
                      <td></td>
                      <td><input type="text"value="0"name="hra"[(ngModel)]="gross.hra"></td>
                      </tr>
                      <tr>
                      <th scope="row">Conveyance</th>
                      <td></td>
                      <td></td>
                      <td><input type="text" value="0"name="conveyance"[(ngModel)]="gross.conveyance"></td>
                      </tr>
                      <tr>
                      <th scope="row">Children Education</th>
                      <td></td>
                      <td></td>
                      <td>
                      <input type="text" value="0"name="childedu"[(ngModel)]="gross.childedu">
                      </td>
                      </tr>
                      <tr>
                      <th scope="row">Medical</th>
                      <td></td>
                      <td></td>
                      <td>
                      <input type="text" value="0"name="medical"[(ngModel)]="gross.medical">
                      </td>
                      </tr>
                      <tr>
                      <th scope="row">LTA(Click checkbox if you are claiming for the current year)</th>
                       <td><input type="checkbox"></td>
                       <td></td>
                       <td><input type="text"value="0"name="lta"[(ngModel)]="gross.lta"></td>
                       </tr>
                      <tr>
                       <th scope="row">Other Allownces</th>
                       <td></td>
                       <td></td>
                       <td><input type="text" value="0"name="otherallown"[(ngModel)]="gross.otherallown"></td>
                      </tr>
                      <tr>
                      <th scope="row">Bonus</th>
                        <td></td>
                        <td></td>
                        <td><input type="text" value="0"name="bonus"[(ngModel)]="gross.bonus"></td>
                      </tr>
                     </tbody><!--Body of table end-->
                          </table>
                </div>
                </div>
                </div>
                      <div class="panel panel-default">
                        <div id="headingTwo" role="tab" class="panel-heading">
                         <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" class="collapsed">Income from House Properties</a></h4>
                </div>
                      <div id="collapseTwo" role="tabpanel" aria-labelledby="headingTwo" class="panel-collapse collapse">
                      <div class="panel-body">
              <table class="table">
                      <thead class="thead-light">
                       <tr><!--Head of table start-->
                          <th scope="col">Name</th>
                          <th scope="col"></th>
                          <th scope="col"></th>
                          <th scope="col">Amount</th>
                       </tr>
                      </thead><!--Head of table end-->
                        <tbody><!--Body of table start-->
                      <tr>
                          <th scope="row">Rental Income</th>
                          <td></td>
                          <td></td>
                          <td><input type="text" value="0"name="rentincome"[(ngModel)]="gross.rentincome">
                          </td>
                      </tr>
                                                                                                        
                        </tbody><!--Body of table end-->
              </table>
                    </div></div></div>
                    <div class="panel panel-default">
                    <div id="headingThree" role="tab" class="panel-heading">
                    <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree" class="collapsed">Income From Other Sources</a></h4>
                    </div>
                    <div id="collapseThree" role="tabpanel" aria-labelledby="headingThree" class="panel-collapse collapse">
                      <div class="panel-body">
              <table class="table">
                <thead class="thead-light">
                  <tr><!--Head of table start-->
                    <th scope="col">Name</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col">Amount</th>
                  </tr>
                </thead><!--Head of table end-->
                <tbody><!--Body of table start-->
                  <tr>
                    <th scope="row">interest From Saving(FD,RD etc)</th>
                      <td></td>
                      <td></td>
                      <td>
                      <input type="text" value="0"name="saving"[(ngModel)]="gross.saving">
                      </td>
                  </tr>
                  <tr>
                    <th scope="row">Interest From Bonds</th>
                      <td></td>
                      <td></td>
                      <td>
                      <input type="text" value="0"name="bonds"[(ngModel)]="gross.bonds">
                      </td>
                  </tr>             
                  <tr>
                    <th scope="row">Conveyance</th>
                       <td></td>
                       <td></td>
                       <td>
                      <input type="text" value="0"name="convay"[(ngModel)]="gross.convay">
                     </td>
                  </tr>                      
                 </tbody><!--Body of table end-->
              </table>
              </div></div></div>
              </div></div></div></div>
              </section>  
              </div>
                    <div class="tab-pane fade" id="v-pills-travel" role="tabpanel" 
                    aria-labelledby="v-pills-travel-tab">
                    <h1>80c Deduction </h1>
              <div class="row pull-right" style="margin-top: -50px;">
                <button type="button" class="btn btn-link"(click)="onEightycSave()"data-toggle="modal" data-target="#eightycModelCenter">
                    <span>
                        <i class="fa fa-save" aria-hidden="true"></i><h6>Save</h6>
                    </span>
                </button>
                <div class="modal fade" id="eightycModelCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="eightycModalLongTitle">80C Deduction</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                        <h3>Your 80C Deduction Details Saved successfully</h3>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
                <button type="button" class="btn btn-link">
                    <span>
                        <i class="fas fa-sync fa-spin" aria-hidden="true"></i> <h6>Reset</h6>
                    </span>
                </button>
                <button type="button" class="btn btn-link">
                    <span>
                        <i class="fa fa-info" aria-hidden="true"></i> <h6>Help</h6>
                    </span>
                </button>
          </div>
            <section>
              <div class="container">
              <div class="row wow fadeIn">
              <div class="col-sm-12">
              <div id="accordion" role="tablist" aria-multiselectable="true" class="panel-group">
              </div>
              </div>
              </div>
              <div class="col-sm-12">
              <div id="accordion2" role="tablist" aria-multiselectable="true" class="panel-group">
              <div class="panel panel-default">
              <div id="heading1" role="tab" class="panel-heading">
              <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapse1" aria-expanded="true" aria-controls="collapse1">Investment Other than Home</a></h4>
              </div>
              <div id="collapse1" role="tabpanel" aria-labelledby="heading1" class="panel-collapse collapse">
              <div class="panel-body">
                <table class="table">
                  <thead class="thead-light">
                    <tr><!--Head of table start-->
                        <th scope="col">Name</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col">Amount</th>
                    </tr>
                  </thead><!--Head of table end-->
                     <tbody><!--Body of table start-->
                    <tr>
                        <th scope="row">5 Years of Fixed Deposit in Schedule Bank (Enter amount of Tax-Saver Fixed Deposits only)</th>
                          <td></td>
                          <td></td>
                          <td>
                          <input type="text" value="0"name="Fixed"[(ngModel)]="eightyc.fixed">
                          </td>
                    </tr>
                    <tr>
                        <th scope="row">Tution Fees</th>
                          <td></td>
                          <td></td>
                          <td>
                          <input type="text" value="0"name="tution"[(ngModel)]="eightyc.tution">
                          </td>
                    </tr>
                    <tr>
                        <th scope="row">Deposite in NSC</th>
                          <td><input type="checkbox"></td>
                          <td></td>
                          <td>
                          <input type="text"value="0"name="nsc"[(ngModel)]="eightyc.nsc">
                          </td>
                    </tr>
                    <tr>
                        <th scope="row">Deposite in NSS</th>
                          <td></td>
                          <td></td>
                           <td>
                            <input type="text" value="0"name="nss"[(ngModel)]="eightyc.nss">
                           </td>
                    </tr>
                    <tr>
                        <th scope="row">Deposite in Post Office saving Scheme</th>
                          <td></td>
                          <td></td>
                          <td>
                            <input type="text" value="0"name="post"[(ngModel)]="eightyc.post"></td>
                    </tr>
                    <tr>
                        <th scope="row">Interest on NSC Reinvested(Upto 5th Completed year only)</th>
                          <td></td>
                          <td></td>
                          <td>
                            <input type="text" value="0"name="reinvest"[(ngModel)]="eightyc.reinvest">
                          </td>
                    </tr>
                    <tr>
                         <th scope="row">Life Insurance Premium</th>
                          <td><input type="checkbox"></td>
                          <td></td>
                          <td>
                            <input type="text"value="0"name="licpremium"[(ngModel)]="eightyc.licpremium"></td>
                    </tr>
                    <tr>
                        <th scope="row">Equity linked Savings Scheme (ELSS)</th>
                          <td></td>
                          <td></td>
                          <td>
                            <input type="text" value="0"name="equity"[(ngModel)]="eightyc.equity">
                          </td>
                          </tr>
                    <tr>
                        <th scope="row">Provident Fund</th>
                          <td></td>
                          <td></td>
                          <td>
                          <input type="text" value="0"name="pf"[(ngModel)]="eightyc.pf">
                          </td>
                   </tr>
                    <tr>
                        <th scope="row">Public Provident Fund</th>
                          <td></td>
                          <td></td>
                          <td>
                           <input type="text" value="0"name="ppf"[(ngModel)]="eightyc.ppf"></td>
                    </tr>
                    <tr>
                        <th scope="row">Others</th>
                          <td></td>
                          <td></td>
                          <td>
                           <input type="text" value="0"name="other"[(ngModel)]="eightyc.other">
                          </td>
                    </tr>
                    <tr>
                        <th scope="row">Tution Fees</th>
                          <td></td>
                          <td></td>
                          <td>
                           <input type="text" value="0"name="tutionfee"[(ngModel)]="eightyc.tutionfee"></td>
                    </tr>
                    <tr>
                        <th scope="row">ULIP of UTI/LIC</th>
                         <td></td>
                         <td></td>
                         <td>
                           <input type="text" value="0"name="ulip"[(ngModel)]="eightyc.ulip">
                         </td>
                    </tr>
                        </tbody><!--Body of table end-->
               </table>
                      </div></div></div></div></div></div>
                </section>   
                       </div>
                       <div class="tab-pane fade" id="v-pills-house" role="tabpanel" 
                        aria-labelledby="v-pills-house-tab">
                       <h3>Home Deduction</h3>
                      <div class="row pull-right" style="margin-top: -50px;">
              <button type="button" class="btn btn-link"(click)="onHomeSave()"data-toggle="modal" data-target="#homeModelCenter">
                <span>
                    <i class="fa fa-save" aria-hidden="true"></i><h6>Save</h6>
                </span>
              </button>
              <div class="modal fade" id="homeModelCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="homeModalLongTitle">Home Deduction</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                      <h3>Your Home Deduction Details Saved successfully</h3>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
              <button type="button" class="btn btn-link">
                <span>
                    <i class="fas fa-sync fa-spin" aria-hidden="true"></i> <h6>Reset</h6>
                </span>
            </button>
            <button type="button" class="btn btn-link">
                <span>
                    <i class="fa fa-info" aria-hidden="true"></i> <h6>Help</h6>
                </span>
            </button>
      </div>
          <section>
            <div class="container">
            <div class="row wow fadeIn">
            <div class="col-sm-12">
            <div id="accordion" role="tablist" aria-multiselectable="true" class="panel-group">
            </div> </div>
            <div class="col-sm-12">
            <div id="accordion2" role="tablist" aria-multiselectable="true" class="panel-group">
            <div class="panel panel-default">
            <div id="heading2" role="tab" class="panel-heading">
             <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapse2" aria-expanded="false" aria-controls="collapse2" class="collapsed">Home Deduction</a></h4>
       </div>
            <div id="collapse2" role="tabpanel" aria-labelledby="heading2" class="panel-collapse collapse in">
            <div class="panel-body">
      <table class="table">
        <thead class="thead-light">
          <tr><!--Head of table start-->
           <th scope="col">Deduction Under Section 24B</th>
           <th scope="col"></th>
           <th scope="col"></th>
           <th scope="col"></th>
         </tr>
       </thead><!--Head of table end-->
        <tbody><!--Body of table start-->
         <tr>
           <th scope="row">Interest in Housing Loan(click checkbox if possession is taken)</th>
           <td> <input type="checkbox"></td>
           <td></td>
           <td>
            <input type="text" value="0"name="homeloan"[(ngModel)]="home.homeloan">
           </td>
         </tr>
        </tbody><!--Body of table end-->
       <thead class="thead-light">
        <tr><!--Head of table start-->
           <th scope="col">Deduction Under Section 80C</th>
           <th scope="col"></th>
           <th scope="col"></th>
           <th scope="col"></th>
        </tr>
       </thead><!--Head of table end-->
       <tbody><!--Body of table start-->
       <tr>
        <th scope="row">Pricipal Loan Repayment(Housing Loan)</th>
         <td></td>
         <td></td>
         <td><input type="text" value="0"name="prncpalloan"[(ngModel)]="home.prncpalloan"></td>
        </tr>
       </tbody><!--Body of table end-->
       <thead class="thead-light">
        <tr><!--Head of table start-->
          <th scope="col">Rent for HRA</th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
       </tr>
      </thead><!--Head of table end-->
       <tbody><!--Body of table start-->
       <tr>
        <th scope="row">Mention the Rent Claimed for HRA</th>
          <td></td>
          <td></td>
          <td><input type="text" value="0"name="rentclm"[(ngModel)]="home.rentclm">
          </td>
       </tr>
      </tbody><!--Body of table end-->
        <thead class="thead-light">
       <tr><!--Head of table start-->
        <th scope="col">Deduction Under section 80EE</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
       </tr>
        </thead><!--Head of table end-->
      <tbody><!--Body of table start-->
       <tr>
        <th scope="row">Remaining Interest on Housing Loan </th>
        <td></td>
        <td></td>
        <td><input type="text" value="0"name="remintrst"[(ngModel)]="home.remintrst"></td>
       </tr>
      </tbody><!--Body of table end-->
       <thead class="thead-light">
       <tr><!--Head of table start-->
       <th scope="col">Rent Claimed Under Section 80GG</th>
       <th scope="col"></th>
       <th scope="col"></th>
       <th scope="col"></th>
       </tr>
        </thead><!--Head of table end-->
     <tbody><!--Body of table start-->
       <tr>
       <th scope="row">Mentioned the Rent claimed for section under 80GG</th>
       <td></td>
       <td></td>
       <td><input type="text" value="0"name="rentclmgg"[(ngModel)]="home.rentclmgg"></td>
       </tr>
       </tbody><!--Body of table end-->
    </table>
      </div></div></div></div></div></div></div>
      </section>
      </div>
      <div class="tab-pane fade" id="v-pills-loan" role="tabpanel" 
      aria-labelledby="v-pills-loan-tab">
      <h3>80D deduction </h3>
      <div class="row pull-right" style="margin-top: -50px;">
         <button type="button" class="btn btn-link"(click)="onEightydSave()"data-toggle="modal" data-target="#eightydModelCenter">
            <span>
              <i class="fa fa-save" aria-hidden="true"></i><h6>Save</h6>
            </span>
         </button>
         <div class="modal fade" id="eightydModelCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="eightydModalLongTitle">80D Deduction</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                <h3>Your 80D Deduction Details Saved successfully</h3>
                <tr *ngFor="let eightyd of eightyds"></tr>
                <tfoot>
              
                        <th scope="col">Total</th>
                        <th> sum:{{ eightyd.insureself + eightyd.insureparents + eightyd.health }} </th>
                </tfoot>
                      </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
         <button type="button" class="btn btn-link">
            <span>
              <i class="fas fa-sync fa-spin" aria-hidden="true"></i> <h6>Reset</h6>
            </span>
         </button>
        <button type="button" class="btn btn-link">
            <span>
              <i class="fa fa-info" aria-hidden="true"></i> <h6>Help</h6>
            </span>
        </button>
          </div>
       <section>
       <div class="container">
       <div class="row wow fadeIn">
       <div class="col-sm-12">
       <div id="accordion" role="tablist" aria-multiselectable="true" class="panel-group">
       <div class="panel panel-default">
       <div id="headingOne" role="tab" class="panel-heading">
         <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">80D Deduction</a></h4>
       </div>
       <div id="collapseOne" role="tabpanel" aria-labelledby="headingOne" class="panel-collapse collapse in">
       <div class="panel-body">
          <table class="table">
            <thead class="thead-light">
              <tr><!--Head of table start-->
                <th scope="col">Name</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col">Amount</th>
              </tr>
            </thead><!--Head of table end-->
               <tbody><!--Body of table start-->
              <tr>
                <th scope="row">Medical Insurance for Self</th>
                 <td> </td>
                 <td></td>
                 <td><input type="text" value="0"name="insureself"[(ngModel)]="eightyd.insureself"></td>
              </tr>
              <tr>
                <th scope="row">Medical Insurance for Parents</th>
                 <td></td>
                 <td></td>
                 <td>
                   <input type="text" value="0"name="insureparents"[(ngModel)]="eightyd.insureparents">
                 </td>
              </tr>
              <tr>
                <th scope="row">Preventive Health Checkup</th>
                 <td></td>
                 <td></td>
                 <td>
                   <input type="text" value="0"name="health"[(ngModel)]="eightyd.health">
                 </td>
              </tr>
             </tbody><!--Body of table end-->
         </table>
        </div></div></div></div></div></div> </div>
      </section>
        </div>
       <div class="tab-pane fade" id="v-pills-insurance" role="tabpanel" 
         aria-labelledby="v-pills-insurance-tab">
         <h3>other deduction</h3>
       <div class="row pull-right" style="margin-top: -50px;">
        <button type="button" class="btn btn-link"(click)="onOtherSave()"data-toggle="modal" data-target="#otherModelCenter">
          <span>
            <i class="fa fa-save" aria-hidden="true"></i><h6>Save</h6>
          </span>
        </button>
        <div class="modal fade" id="otherModelCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="otherModalLongTitle">Other Deduction</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                <h3>Your Other Deduction Details Saved successfully</h3>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        <button type="button" class="btn btn-link">
          <span>
            <i class="fas fa-sync fa-spin" aria-hidden="true"></i> <h6>Reset</h6>
          </span>
        </button>
        <button type="button" class="btn btn-link">
         <span>
            <i class="fa fa-info" aria-hidden="true"></i> <h6>Help</h6>
         </span>
        </button>
        </div>
      <section>
        <div class="container">
        <div class="row wow fadeIn">
        <div class="col-sm-12">
        <div id="accordion" role="tablist" aria-multiselectable="true" class="panel-group">
        </div>
        </div>
        <div class="col-sm-12">
        <div id="accordion2" role="tablist" aria-multiselectable="true" class="panel-group">
        <div class="panel panel-default">
        <div id="heading2" role="tab" class="panel-heading">
         <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapse2" aria-expanded="false" aria-controls="collapse2" class="collapsed">Other Deduction</a></h4>
        </div>
        <div id="collapse2" role="tabpanel" aria-labelledby="heading2" class="panel-collapse collapse in">
        <div class="panel-body">
         <table class="table">
          <thead class="thead-light">
            <tr><!--Head of table start-->
             <th scope="col">Deduction Under Section 80DD</th>
             <th scope="col"></th>
             <th scope="col"></th>
             <th scope="col"></th>
            </tr>
          </thead><!--Head of table end-->
           <tbody><!--Body of table start-->
            <tr>
             <th scope="row">Medical Treatment/Insurance of Handicapped Dependencies</th>
              <td></td>
              <td></td>
              <td>
                <input type="text" value="0"name="handicapped"[(ngModel)]="other.handicapped">
              </td>
            </tr>
           </tbody><!--Body of table end-->
          <thead class="thead-light">
            <tr><!--Head of table start-->
              <th scope="col">Deduction Under Section 80DDB</th>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead><!--Head of table end-->
           <tbody><!--Body of table start-->
            <tr>
              <th scope="row">Medical Treatment ( Specified Disease only )</th>
               <td></td>
               <td></td>
               <td>
                 <input type="text" value="0"name="medicaltreat"[(ngModel)]="other.medicaltreat">
               </td>
            </tr>
           </tbody><!--Body of table end-->
          <thead class="thead-light">
            <tr><!--Head of table start-->
              <th scope="col">Deduction Under Section 80E</th>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col"></th>
           </tr>
          </thead><!--Head of table end-->
           <tbody><!--Body of table start-->
            <tr>
              <th scope="row">Repayment of Loan of higher Self education</th>
               <td></td>
               <td></td>
               <td>
                 <input type="text" value="0"name="selfedu"[(ngModel)]="other.selfedu">
               </td>
            </tr>
           </tbody><!--Body of table end-->
           <thead class="thead-light">
            <tr><!--Head of table start-->
              <th scope="col">Deduction Under section 80CCD</th>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
           </thead><!--Head of table end-->
          <tbody><!--Body of table start-->
            <tr>
              <th scope="row">NPS </th>
               <td></td>
               <td></td>
               <td>
                 <input type="text" value="0"name="nps"[(ngModel)]="other.nps">
              </td>
            </tr>
          </tbody><!--Body of table end-->
           <thead class="thead-light">
            <tr><!--Head of table start-->
             <th scope="col">Deduction Under section 80 CCG</th>
             <th scope="col"></th>
             <th scope="col"></th>
             <th scope="col"></th>
            </tr>
          </thead><!--Head of table end-->
         <tbody><!--Body of table start-->
            <tr>
             <th scope="row">Investment in RGESS</th>
              <td></td>
              <td></td>
              <td>
               <input type="text" value="0"name="rgess"[(ngModel)]="other.rgess">
              </td>
            </tr>
         </tbody><!--Body of table end-->
          <thead class="thead-light">
           <tr><!--Head of table start-->
             <th scope="col">Deduction Under section 80G</th>
             <th scope="col"></th>
             <th scope="col"></th>
             <th scope="col"></th>
            </tr>
          </thead><!--Head of table end-->
         <tbody><!--Body of table start-->
            <tr>
            <th scope="row">Eligible Donations </th>
              <td></td>
              <td></td>
              <td>
                <input type="text" value="0"name="donation"[(ngModel)]="other.donation">
              </td>
            </tr>
         </tbody><!--Body of table end-->
      </table>
        </div></div></div>
