<!--start of navbar2 -->
<div  style=" opacity: 10;
transition: all 700ms ease;
right: 0;
left: 0;
background: #fff;
-webkit-box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.5);
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
z-index: 5;
line-height: 20px;
font-size: 0.75em;
font-weight: 500;
vertical-align: middle;
border-radius: 10px;">
<div style="border-radius: 10px;">
  <nav  class="navbar navbar-expand-md navbar-dark bg-dark "
    style=" margin-top:0px; border-radius: 10px;">
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item " style="margin-left:10px">
            <a class="nav-link" >FIN HEALTH SCORE 200/1000 </a>
          </li>
          <li class="nav-item"  style="margin-left:250px">
            <a class="nav-link">SURPLUS  0</a>
          </li>
          <li class="nav-item"  style="margin-left:200px">
            <a class="nav-link ">NETWORTH  0</a>
          </li>
          <li class="nav-item"  style="margin-left:250px">
              <a class="nav-link ">GOALS ACHIEVABLE 1 /1</a>
          </li>
          </ul>
      </div>
    </nav>
  </div>
</div>  <!--end of navbar2 -->

  
<div><!-- nav tab coding -->
  <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical" style="margin-right: 1100px">
          <a class="nav-link active" id="v-pills-utility-tab" data-toggle="pill" href="#v-pills-utility" role="tab" 
          aria-controls="v-pills-utility" aria-selected="true">Gross Income </a>
          <a class="nav-link" id="v-pills-travel-tab" data-toggle="pill" href="#v-pills-travel" role="tab" 
          aria-controls="v-pills-travel" aria-selected="false">80C Deduction</a>
          <a class="nav-link" id="v-pills-house-tab" data-toggle="pill" href="#v-pills-house" role="tab" 
          aria-controls="v-pills-house" aria-selected="false">Home Deduction</a>
          <a class="nav-link" id="v-pills-loan-tab" data-toggle="pill"  href="#v-pills-loan" role="tab" 
          aria-controls="v-pills-loan" aria-selected="false">80D Deduction</a>
          <a class="nav-link" id="v-pills-insurance-tab" data-toggle="pill"  href="#v-pills-insurance" role="tab" 
           aria-controls="v-pills-insurance" aria-selected="false">Other Deduction</a>
  </div>
        
      <div class="tab-content" id="v-pills-tabContent" style="margin-top:-110px;margin-left: 300px">
        <div class="tab-pane fade show active" id="v-pills-utility" role="tabpanel" 
        aria-labelledby="v-pills-utility-tab">
        <h2>Gross</h2>
        <div class="row pull-right" style="margin-top: -80px;">
            <button type="button" class="btn btn-link"(click)="onGrossSave()"data-toggle="modal" data-target="#exampleModalCenter">
              <span>
            <i class="fa fa-save" aria-hidden="true"></i><span> Save</span>
              </span>
            </button>
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">Gross Amount</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <h3>Your Gross Amount saved successfully</h3>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            <button type="button" (click)="resetGross()"class="btn btn-link">
              <span>
            <i class="fas fa-sync fa-spin" aria-hidden="true"></i> <span> Reset</span>
              </span>
            </button>
            <button type="button" class="btn btn-link">
              <span>
            <i class="fa fa-info" aria-hidden="true"></i> <span> Help</span>
               </span>
            </button>
              </div>
              <div class="card">
                  <div class="card-header">
                    Income from salaries (Per Annum)
                  </div>
                  <div class="card-body">
                      <table class="table table-hover table-sm">
                          <thead class="thead-light">
                            <tr><!--Head of table start-->
                             <th scope="col">Name</th>
                             <th scope="col"></th>
                             <th scope="col"></th>
                             <th scope="col">Amount</th>
                            </tr>
                           </thead><!--Head of table end-->
                           <tbody><!--Body of table start-->
                             <tr>
                            <td scope="row">Basic Salary</td>
                            <td></td>
                            <td></td>
                            <td><input type="number" value="0"name="bsalary"[(ngModel)]="gross.Bsalary"></td>
                             </tr>
                             <tr>
                            <td scope="row">DA</td>
                            <td></td>
                            <td></td>
                            <td><input type="number" value="0"name="da"[(ngModel)]="gross.Da"></td>
                             </tr>
                             <tr>
                            <td scope="row">HRA(Click checkbox if you are staying in metro city)</td>
                            <td><input type="checkbox"></td>
                            <td></td>
                            <td><input type="number"value="0"name="hra"[(ngModel)]="gross.Hra"></td>
                            </tr>
                            <tr>
                            <td scope="row">Conveyance</td>
                            <td></td>
                            <td></td>
                            <td><input type="number" value="0"name="conveyance"[(ngModel)]="gross.Conveyance"></td>
                            </tr>
                            <tr>
                            <td scope="row">Children Education</td>
                            <td></td>
                            <td></td>
                            <td>
                            <input type="number" value="0"name="childedu"[(ngModel)]="gross.Childedu">
                            </td>
                            </tr>
                            <tr>
                            <td scope="row">Medical</td>
                            <td></td>
                            <td></td>
                            <td>
                            <input type="number" value="0"name="medical"[(ngModel)]="gross.Medical">
                            </td>
                            </tr>
                            <tr>
                            <td scope="row">LTA(Click checkbox if you are claiming for the current year)</td>
                             <td><input type="checkbox"></td>
                             <td></td>
                             <td><input type="number"value="0"name="lta"[(ngModel)]="gross.Lta"></td>
                             </tr>
                            <tr>
                             <td scope="row">Other Allownces</td>
                             <td></td>
                             <td></td>
                             <td><input type="number" value="0"name="otherallown"[(ngModel)]="gross.Otherallown"></td>
                            </tr>
                            <tr>
                            <td scope="row">Bonus</td>
                              <td></td>
                              <td></td>
                              <td><input type="number" value="0"name="bonus"[(ngModel)]="gross.Bonus"></td>
                            </tr>
                           </tbody><!--Body of table end-->
                                </table>
      </div></div>
      <br>
      <div class="card">
          <div class="card-header">
            Income from House Properties
          </div>
          <div class="card-body">
              <table class="table table-hover table-sm">
                  <thead class="thead-light">
                   <tr><!--Head of table start-->
                      <th scope="col">Name</th>
                      <th scope="col"></th>
                      <th scope="col"></th>
                      <th scope="col">Amount</th>
                   </tr>
                  </thead><!--Head of table end-->
                    <tbody><!--Body of table start-->
                  <tr>
                      <td scope="row">Rental Income</td>
                      <td></td>
                      <td></td>
                      <td><input type="number" value="0"name="rentincome"[(ngModel)]="gross.Rentincome">
                      </td>
                  </tr>
                                                                                                    
                    </tbody><!--Body of table end-->
          </table>
    </div></div>
    <br>
    <div class="card">
        <div class="card-header">
          Income from other Sources
        </div>
        <div class="card-body">
            <table class="table table-hover table-sm">
                <thead class="thead-light">
                  <tr><!--Head of table start-->
                    <th scope="col">Name</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col">Amount</th>
                  </tr>
                </thead><!--Head of table end-->
                <tbody><!--Body of table start-->
                  <tr>
                    <td scope="row">interest From Saving(FD,RD etc)</td>
                      <td></td>
                      <td></td>
                      <td>
                      <input type="number" value="0"name="saving"[(ngModel)]="gross.Saving">
                      </td>
                  </tr>
                  <tr>
                    <td scope="row">Interest From Bonds</td>
                      <td></td>
                      <td></td>
                      <td>
                      <input type="number" value="0"name="bonds"[(ngModel)]="gross.Bonds">
                      </td>
                  </tr>             
                  <tr>
                    <td scope="row">Conveyance</td>
                       <td></td>
                       <td></td>
                       <td>
                      <input type="number" value="0"name="convay"[(ngModel)]="gross.Convay">
                     </td>
                  </tr>                      
                 </tbody><!--Body of table end-->
              </table>
  </div></div></div>
       <div class="tab-pane fade" id="v-pills-travel" role="tabpanel" 
        aria-labelledby="v-pills-travel-tab">
       <h1>80C Deduction</h1>
       <div class="row pull-right" style="margin-top: -80px;">
          <button type="button" class="btn btn-link"(click)="onEightycSave()"data-toggle="modal" data-target="#eightycModelCenter">
              <span>
                  <i class="fa fa-save" aria-hidden="true"></i><span> Save</span>
              </span>
          </button>
          <div class="modal fade" id="eightycModelCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="eightycModalLongTitle">80C Deduction</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                  <h3>Your 80C Deduction Details Saved successfully</h3>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          <button type="button" (click)="resetEightyc()"class="btn btn-link">
              <span>
                  <i class="fas fa-sync fa-spin" aria-hidden="true"></i> <span> Reset</span>
              </span>
          </button>
          <button type="button" class="btn btn-link">
              <span>
                  <i class="fa fa-info" aria-hidden="true"></i> <span> Help</span>
              </span>
          </button>
    </div>
      <div class="card">
          <div class="card-header">
            Investment Other than Home
          </div>
          <div class="card-body">
              <table class="table table-hover table-sm">
                  <thead class="thead-light">
                    <tr><!--Head of table start-->
                        <th scope="col">Name</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col">Amount</th>
                    </tr>
                  </thead><!--Head of table end-->
                     <tbody><!--Body of table start-->
                    <tr>
                        <td scope="row">5 Years of Fixed Deposit in Schedule Bank (Enter amount of Tax-Saver Fixed Deposits only)</td>
                          <td></td>
                          <td></td>
                          <td>
                          <input type="number" value="0"name="Fixed"[(ngModel)]="eightyc.Fixed">
                          </td>
                    </tr>
                    <tr>
                        <td scope="row">Tution Fees</td>
                          <td></td>
                          <td></td>
                          <td>
                          <input type="number" value="0"name="tution"[(ngModel)]="eightyc.Tution">
                          </td>
                    </tr>
                    <tr>
                        <td scope="row">Deposite in NSC</td>
                          <td><input type="checkbox"></td>
                          <td></td>
                          <td>
                          <input type="number"value="0"name="nsc"[(ngModel)]="eightyc.Nsc">
                          </td>
                    </tr>
                    <tr>
                        <td scope="row">Deposite in NSS</td>
                          <td></td>
                          <td></td>
                           <td>
                            <input type="number" value="0"name="nss"[(ngModel)]="eightyc.Nss">
                           </td>
                    </tr>
                    <tr>
                        <td scope="row">Deposite in Post Office saving Scheme</td>
                          <td></td>
                          <td></td>
                          <td>
                            <input type="number" value="0"name="post"[(ngModel)]="eightyc.Post"></td>
                    </tr>
                    <tr>
                        <td scope="row">Interest on NSC Reinvested(Upto 5th Completed year only)</td>
                          <td></td>
                          <td></td>
                          <td>
                            <input type="number" value="0"name="reinvest"[(ngModel)]="eightyc.Reinvest">
                          </td>
                    </tr>
                    <tr>
                         <td scope="row">Life Insurance Premium</td>
                          <td><input type="checkbox"></td>
                          <td></td>
                          <td>
                            <input type="number"value="0"name="licpremium"[(ngModel)]="eightyc.Licpremium"></td>
                    </tr>
                    <tr>
                        <td scope="row">Equity linked Savings Scheme (ELSS)</td>
                          <td></td>
                          <td></td>
                          <td>
                            <input type="number" value="0"name="equity"[(ngModel)]="eightyc.Equity">
                          </td>
                          </tr>
                    <tr>
                        <td scope="row">Provident Fund</td>
                          <td></td>
                          <td></td>
                          <td>
                          <input type="number" value="0"name="pf"[(ngModel)]="eightyc.Pf">
                          </td>
                   </tr>
                    <tr>
                        <td scope="row">Public Provident Fund</td>
                          <td></td>
                          <td></td>
                          <td>
                           <input type="number" value="0"name="ppf"[(ngModel)]="eightyc.Ppf"></td>
                    </tr>
                    <tr>
                        <td scope="row">Others</td>
                          <td></td>
                          <td></td>
                          <td>
                           <input type="number" value="0"name="other"[(ngModel)]="eightyc.Other">
                          </td>
                    </tr>
                    <tr>
                        <td scope="row">Tution Fees</td>
                          <td></td>
                          <td></td>
                          <td>
                           <input type="number" value="0"name="tutionfee"[(ngModel)]="eightyc.Tutionfee"></td>
                    </tr>
                    <tr>
                        <td scope="row">ULIP of UTI/LIC</td>
                         <td></td>
                         <td></td>
                         <td>
                           <input type="number" value="0"name="ulip"[(ngModel)]="eightyc.Ulip">
                         </td>
                    </tr>
                        </tbody><!--Body of table end-->
               </table>
            </div></div></div>
       <div class="tab-pane fade" id="v-pills-house" role="tabpanel" 
        aria-labelledby="v-pills-house-tab">
      <h3>Home Deduction</h3>
      <div class="row pull-right" style="margin-top: -80px;">
          <button type="button" class="btn btn-link"(click)="onHomeSave()"data-toggle="modal" data-target="#homeModelCenter">
            <span>
                <i class="fa fa-save" aria-hidden="true"></i><span> Save</span>
            </span>
          </button>
          <div class="modal fade" id="homeModelCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="homeModalLongTitle">Home Deduction</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                  <h3>Your Home Deduction Details Saved successfully</h3>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          <button type="button" (click)="resetHome()" class="btn btn-link">
            <span>
                <i class="fas fa-sync fa-spin" aria-hidden="true"></i> <span> Reset</span>
            </span>
        </button>
        <button type="button" class="btn btn-link">
            <span>
                <i class="fa fa-info" aria-hidden="true"></i> <span> Help</span>
            </span>
        </button>
  </div>
  <div class="card">
      <div class="card-header">
        Home Deduction
      </div>
      <div class="card-body">
          <table class="table table-hover table-sm">
              <thead class="thead-light">
                <tr><!--Head of table start-->
                 <th scope="col">Deduction Under Section 24B</th>
                 <th scope="col"></th>
                 <th scope="col"></th>
                 <th scope="col"></th>
               </tr>
             </thead><!--Head of table end-->
              <tbody><!--Body of table start-->
               <tr>
                 <td scope="row">Interest in Housing Loan(click checkbox if possession is taken)</td>
                 <td> <input type="checkbox"></td>
                 <td></td>
                 <td>
                  <input type="number" value="0"name="homeloan"[(ngModel)]="home.Homeloan">
                 </td>
               </tr>
              </tbody><!--Body of table end-->
             <thead class="thead-light">
              <tr><!--Head of table start-->
                 <th scope="col">Deduction Under Section 80C</th>
                 <th scope="col"></th>
                 <th scope="col"></th>
                 <th scope="col"></th>
              </tr>
             </thead><!--Head of table end-->
             <tbody><!--Body of table start-->
             <tr>
              <td scope="row">Pricipal Loan Repayment(Housing Loan)</td>
               <td></td>
               <td></td>
               <td><input type="number" value="0"name="prncpalloan"[(ngModel)]="home.Prncpalloan"></td>
              </tr>
             </tbody><!--Body of table end-->
             <thead class="thead-light">
              <tr><!--Head of table start-->
                <th scope="col">Rent for HRA</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
             </tr>
            </thead><!--Head of table end-->
             <tbody><!--Body of table start-->
             <tr>
              <td scope="row">Mention the Rent Claimed for HRA</td>
                <td></td>
                <td></td>
                <td><input type="number" value="0"name="rentclm"[(ngModel)]="home.Rentclm">
                </td>
             </tr>
            </tbody><!--Body of table end-->
              <thead class="thead-light">
             <tr><!--Head of table start-->
              <th scope="col">Deduction Under section 80EE</th>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col"></th>
             </tr>
              </thead><!--Head of table end-->
            <tbody><!--Body of table start-->
             <tr>
              <td scope="row">Remaining Interest on Housing Loan </td>
              <td></td>
              <td></td>
              <td><input type="number" value="0"name="remintrst"[(ngModel)]="home.Remintrst"></td>
             </tr>
            </tbody><!--Body of table end-->
             <thead class="thead-light">
             <tr><!--Head of table start-->
             <th scope="col">Rent Claimed Under Section 80GG</th>
             <th scope="col"></th>
             <th scope="col"></th>
             <th scope="col"></th>
             </tr>
              </thead><!--Head of table end-->
           <tbody><!--Body of table start-->
             <tr>
             <td scope="row">Mentioned the Rent claimed for section under 80GG</td>
             <td></td>
             <td></td>
             <td><input type="number" value="0"name="rentclmgg"[(ngModel)]="home.Rentclmgg"></td>
             </tr>
             </tbody><!--Body of table end-->
          </table>
        </div></div></div>

      <div class="tab-pane fade" id="v-pills-loan" role="tabpanel" 
      aria-labelledby="v-pills-loan-tab">
      <h3>80D deduction </h3>
      <div class="row pull-right" style="margin-top: -80px;">
          <button type="button" class="btn btn-link"(click)="onEightydSave()"data-toggle="modal" data-target="#eightydModelCenter">
             <span>
               <i class="fa fa-save" aria-hidden="true"></i><span> Save</span>
             </span>
          </button>
          <div class="modal fade" id="eightydModelCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
             <div class="modal-dialog modal-dialog-centered" role="document">
               <div class="modal-content">
                 <div class="modal-header">
                   <h5 class="modal-title" id="eightydModalLongTitle">80D Deduction</h5>
                   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                   </button>
                 </div>
                 <div class="modal-body">
                 <h3>Your 80D Deduction Details Saved successfully</h3>
                       </div>
                 <div class="modal-footer">
                   <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                 </div>
               </div>
             </div>
           </div>
          <button type="button" (click)="resetEightyd()"class="btn btn-link">
             <span>
               <i class="fas fa-sync fa-spin" aria-hidden="true"></i> <span> Reset</span>
             </span>
          </button>
         <button type="button" class="btn btn-link">
             <span>
               <i class="fa fa-info" aria-hidden="true"></i> <span> Help</span>
             </span>
         </button>
           </div>
           <div class="card">
              <div class="card-header">
                80D Deduction
              </div>
              <div class="card-body">
                  <table class="table table-hover table-sm">
                      <thead class="thead-light">
                        <tr><!--Head of table start-->
                          <th scope="col">Name</th>
                          <th scope="col"></th>
                          <th scope="col"></th>
                          <th scope="col">Amount</th>
                        </tr>
                      </thead><!--Head of table end-->
                         <tbody><!--Body of table start-->
                        <tr>
                          <td scope="row">Medical Insurance for Self</td>
                           <td> </td>
                           <td></td>
                           <td><input type="number" value="0"name="insureself"[(ngModel)]="eightyd.Insureself"></td>
                        </tr>
                        <tr>
                          <td scope="row">Medical Insurance for Parents</td>
                           <td></td>
                           <td></td>
                           <td>
                             <input type="number" value="0"name="insureparents"[(ngModel)]="eightyd.Insureparents">
                           </td>
                        </tr>
                        <tr>
                          <td scope="row">Preventive Health Checkup</td>
                           <td></td>
                           <td></td>
                           <td>
                             <input type="number" value="0"name="health"[(ngModel)]="eightyd.Health">
                           </td>
                        </tr>
                       </tbody><!--Body of table end-->
                   </table>
                </div></div></div>

       <div class="tab-pane fade" id="v-pills-insurance" role="tabpanel" 
         aria-labelledby="v-pills-insurance-tab">
         <h3>other deduction</h3>
         <div class="row pull-right" style="margin-top: -80px;">
            <button type="button" class="btn btn-link"(click)="onOtherSave()"data-toggle="modal" data-target="#otherModelCenter">
              <span>
                <i class="fa fa-save" aria-hidden="true"></i><span> Save</span>
              </span>
            </button>
            <div class="modal fade" id="otherModelCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="otherModalLongTitle">Other Deduction</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                    <h3>Your Other Deduction Details Saved successfully</h3>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            <button type="button" (click)="resetOther()"class="btn btn-link">
              <span>
                <i class="fas fa-sync fa-spin" aria-hidden="true"></i> <span> Reset</span>
              </span>
            </button>
            <button type="button" class="btn btn-link">
             <span>
                <i class="fa fa-info" aria-hidden="true"></i> <span> Help</span>
             </span>
            </button>
            </div>
            <div class="card">
                <div class="card-header">
                   Other Deduction
                </div>
                <div class="card-body">
                    <table class="table table-hover table-sm">
                        <thead class="thead-light">
                          <tr><!--Head of table start-->
                           <th scope="col">Deduction Under Section 80DD</th>
                           <th scope="col"></th>
                           <th scope="col"></th>
                           <th scope="col"></th>
                          </tr>
                        </thead><!--Head of table end-->
                         <tbody><!--Body of table start-->
                          <tr>
                           <td scope="row">Medical Treatment/Insurance of Handicapped Dependencies</td>
                            <td></td>
                            <td></td>
                            <td>
                              <input type="number" value="0"name="handicapped"[(ngModel)]="other.Handicapped">
                            </td>
                          </tr>
                         </tbody><!--Body of table end-->
                        <thead class="thead-light">
                          <tr><!--Head of table start-->
                            <th scope="col">Deduction Under Section 80DDB</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                          </tr>
                        </thead><!--Head of table end-->
                         <tbody><!--Body of table start-->
                          <tr>
                            <td scope="row">Medical Treatment ( Specified Disease only )</td>
                             <td></td>
                             <td></td>
                             <td>
                               <input type="number" value="0"name="medicaltreat"[(ngModel)]="other.Medicaltreat">
                             </td>
                          </tr>
                         </tbody><!--Body of table end-->
                        <thead class="thead-light">
                          <tr><!--Head of table start-->
                            <th scope="col">Deduction Under Section 80E</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                         </tr>
                        </thead><!--Head of table end-->
                         <tbody><!--Body of table start-->
                          <tr>
                            <td scope="row">Repayment of Loan of higher Self education</td>
                             <td></td>
                             <td></td>
                             <td>
                               <input type="number" value="0"name="selfedu"[(ngModel)]="other.Selfedu">
                             </td>
                          </tr>
                         </tbody><!--Body of table end-->
                         <thead class="thead-light">
                          <tr><!--Head of table start-->
                            <th scope="col">Deduction Under section 80CCD</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                          </tr>
                         </thead><!--Head of table end-->
                        <tbody><!--Body of table start-->
                          <tr>
                            <td scope="row">NPS </td>
                             <td></td>
                             <td></td>
                             <td>
                               <input type="number" value="0"name="nps"[(ngModel)]="other.Nps">
                            </td>
                          </tr>
                        </tbody><!--Body of table end-->
                         <thead class="thead-light">
                          <tr><!--Head of table start-->
                           <th scope="col">Deduction Under section 80 CCG</th>
                           <th scope="col"></th>
                           <th scope="col"></th>
                           <th scope="col"></th>
                          </tr>
                        </thead><!--Head of table end-->
                       <tbody><!--Body of table start-->
                          <tr>
                           <td scope="row">Investment in RGESS</td>
                            <td></td>
                            <td></td>
                            <td>
                             <input type="number" value="0"name="rgess"[(ngModel)]="other.Rgess">
                            </td>
                          </tr>
                       </tbody><!--Body of table end-->
                        <thead class="thead-light">
                         <tr><!--Head of table start-->
                           <th scope="col">Deduction Under section 80G</th>
                           <th scope="col"></th>
                           <th scope="col"></th>
                           <th scope="col"></th>
                          </tr>
                        </thead><!--Head of table end-->
                       <tbody><!--Body of table start-->
                          <tr>
                          <td scope="row">Eligible Donations </td>
                            <td></td>
                            <td></td>
                            <td>
                              <input type="number" value="0"name="donation"[(ngModel)]="other.Donation">
                            </td>
                          </tr>
                       </tbody><!--Body of table end-->
                    </table>
                  </div></div></div>

