.panel-heading a:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: right;
    color: grey;
}
.panel-heading a.collapsed:after {
    content:"\e080";
}
.panel-lv1 {
    width:300px;
	margin-top:80px;
	
}
.panel-lv2 {
    width:800px;
    margin-left: 0px;
    margin-right: auto;
    margin-top : 1em;
}