<div  style=" opacity: 10;
transition: all 700ms ease;
right: 0;
left: 0;
background: #fff;
-webkit-box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.5);
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
z-index: 5;
line-height: 20px;
font-size: 0.75em;
font-weight: 500;
vertical-align: middle;
border-radius: 10px;">
<div style="border-radius: 10px;">
  <nav  class="navbar navbar-expand-md navbar-dark bg-dark "  
    style=" margin-top:0px; border-radius: 10px;">
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item " style="margin-left:10px">
            <a class="nav-link" >FIN HEALTH SCORE 200/1000 </a>
          </li>
          <li class="nav-item"  style="margin-left:250px">
            <a class="nav-link">SURPLUS  0</a>
          </li>
          <li class="nav-item"  style="margin-left:200px">
            <a class="nav-link ">NETWORTH  0</a>
          </li>
          <li class="nav-item"  style="margin-left:250px">
              <a class="nav-link ">GOALS ACHIEVABLE 1 /1</a>
          </li>
          </ul>
      </div>
    </nav>
  </div>
</div>  <!--end of navbar2 -->

<div class="row"><!--start of div1-->
    <div class="col-md-2"><!--start of div1-->
    </div><!--end of div1 -->
    <div class="col-md-6"><!--start of div2-->
        <h3>Goals</h3><br>
        <h5>Why Goals?</h5>
        <ul>
            <li>
                In order to make plans for the future, you need to know where you are today and where you want to be in the future.
            </li>
            <li>
                In order to make plans for the future, you need to know where you are today and where you want to be in the future.
            </li>
            <li>
                In order to make plans for the future, you need to know where you are today and where you want to be in the future.
            </li>
        </ul>
        <button class="btn btn-info" (click)="selectgoals()">Click to start</button>

    </div><!--end of div2-->
    <div class="col-md-4" ><!--start of div3-->
        
    </div><!--end of div3-->
</div><!--end of row-->
