<!-- Footer Section-->
<section class="section-small footer bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h5>About</h5>
                    <h6>Thanks for choosing Buckswise as your trusted partner. ValueQuo team is always keen to support and go out of way to ensure your success. We value our relationship and hope for a long term relationship.</h6>
                </div>
                <div class="col-sm-2 col-sm-offset-1 footer-menu">
                    <h5>Company</h5>
                    <h6 class="no-pad"><a href="home">Home</a></h6>
                    <h6 class="no-pad"><a href="myservices">Our Services</a></h6>
                    <h6 class="no-pad"><a href="aboutus">About Us</a></h6>
                    <h6 class="no-pad"><a href="contactus">Contact Us</a></h6>
                    <h6 class="no-pad"><a href="blogs">Blogs</a></h6>
                </div> 
                <div class="col-sm-5 text-center">

                    <h3 class="cust-head">Subscribe</h3>
                    <h5>Sign-Up For News Updates and Alerts</h5>
                    <!-- MailChimp Signup Form - Replace the form action in the line below with your MailChimp embed action! For more information on how to do this please visit the Docs!-->
                    <form id="mc-embedded-subscribe-form"  name="subscribe"  class="form-inline subscribe-form">
                        <div class="input-group input-group-lg">
                            <input  type="email" name="email"  placeholder="Email address..." class="form-control">
                            <span class="input-group-btn">
                                <button type="submit" name="subscribe"  class="btn btn-dark">Subscribe</button></span>
                            <div id="mce-responses"></div>
                            <div id="mce-error-response" style="display:none" class="response"></div>
                            <div id="mce-success-response" style="display:none" class="response"></div>
                        </div>
                    </form>
