
<section class="section-small footer bg-gray">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <h5>About</h5>
          <p>Thanks for choosing Universal for your next project! Universal is a unique template for building  beautiful business website. We have a dedicated support team ready to answer your questions.</p>
        </div>
        <div class="col-sm-2 col-sm-offset-1 footer-menu">
          <h5>Company</h5>
          <h6 class="no-pad"><a href="#">Our Services</a></h6>
          <h6 class="no-pad"><a href="#">Our Clients</a></h6>
          <h6 class="no-pad"><a href="#">Contact Us</a></h6>
          <h6 class="no-pad"><a href="#">Shop</a></h6>
        </div>
        <div class="col-sm-2 footer-menu">
          <h5>&nbsp;</h5>
          <h6 class="no-pad"><a href="#">About us</a></h6>
          <h6 class="no-pad"><a href="#">Portfolio</a></h6>
          <h6 class="no-pad"><a href="#">Our Team</a></h6>
          <h6 class="no-pad"><a href="#">Register</a></h6>
        </div>
        <div class="col-sm-3 text-right">
          <h5>Total downloads</h5><span data-min="0" data-max="2785" data-delay="5" data-increment="3" class="numscroller roller-title-number-5 scrollzip isShown" data-slno="5">2785</span>
        </div>
      </div>
    </div>
  </section>

  <section class="section-small footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <h6>Powered By <a href="http://ForBetterWeb.com"> forbetterweb.com</a>
          </h6>
        </div>
        <div class="col-sm-3 col-sm-offset-1">
          <h6>We <i class="fa fa-heart fa-fw"></i> creative people
          </h6>
        </div>
        <div class="col-sm-3 col-sm-offset-1 text-right">
          <ul class="list-inline">
            
            <a href="https://twitter.com/valuequo">
                <i class="fa fa-twitter fa-fw fa-lg"></i>
                <ion-icon name="heart"></ion-icon></a>  &nbsp;&nbsp;&nbsp;&nbsp;

            <a href="https://www.facebook.com/valuequo/ ">
                <i class="fa fa-facebook fa-fw fa-lg"></i></a>  &nbsp;&nbsp;&nbsp;&nbsp;

            <a href="https://plus.google.com/communities/105935515489375984153">
                <i class="fa fa-google-plus fa-fw fa-lg"></i></a>   &nbsp;&nbsp;&nbsp;&nbsp;

            <a href="https://valuequosolutionspvtltd.business.site/?bw=true">
                <i class="fa fa-google fa-fw fa-lg"></i></a> &nbsp;&nbsp;&nbsp;&nbsp;
                

            <a href="https://www.linkedin.com/company/valuequo/">
                <i class="fa fa-linkedin fa-fw fa-lg"></i></a>       &nbsp;&nbsp;&nbsp;&nbsp;
             </ul>
        </div>
      </div>
    </div>
  </section>


  <!-- 

                <li><a href="https://twitter.com/valuequo">
                <i class="fa fa-twitter fa-fw fa-lg"></i>
                <ion-icon name="heart"></ion-icon></a></li>

            <li><a href="https://www.facebook.com/valuequo/ ">
                <i class="fa fa-facebook fa-fw fa-lg"></i></a></li>

            <li><a href="https://plus.google.com/communities/105935515489375984153">
                <i class="fa fa-google-plus fa-fw fa-lg"></i></a></li>

            <li><a href="https://valuequosolutionspvtltd.business.site/?bw=true">
                <i class="fa fa-google fa-fw fa-lg"></i></a></li>

            <li><a href="https://www.linkedin.com/company/valuequo/">
                <i class="fa fa-linkedin fa-fw fa-lg"></i></a></li>
   -->