<div class="container">
    <div class="navbar navbar-expand-lg navbar-light navb"style="background-color: #e3f2fd;">
        <h5>Enter Relationship Details<span class="glyphicons glyphicons-remove-circle"></span></h5>
      </div>
      <div class="row">
          <div class="col-md-6">
              <label for="exampleFormControlInput1">RelationShip</label>
              <select>
                  <option value="volvo">mother</option>
                  <option value="saab">father</option>
                  <option value="volvo">spouse</option>
                  <option value="saab">son</option>
                  <option value="saab">Daughter</option>
              </select>
          </div>
          </div>
          <div class="row">
            <div class="col-md-4">
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-4 col-form-label">First name</label>
                    <div class="col-sm-7">
                      <input type="text" class="form-control" id="firstname" placeholder="firstName">
                    </div>
                  </div>
            </div>
            <div class="col-md-4">
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-4 col-form-label">Middle Name</label>
                    <div class="col-sm-7">
                      <input type="text" class="form-control" id="middlename" placeholder="MiddleName">
                    </div>
                  </div>
            </div>
            <div class="col-md-4">
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-4 col-form-label">Last Name</label>
                    <div class="col-sm-7">
                      <input type="text" class="form-control" id="lastname" placeholder="Lastname">
                    </div>
                  </div>
            </div>

              <div class="col-md-6">
                  <div class="form-group row">
                      <label for="inputPassword" class="col-md-2 col-form-label">Occupation</label>
                      <div class="col-md-8">
                        <input type="text" class="form-control" id="lastname" placeholder="">
                      </div>
                    </div>
              </div>
                                <div class="col-md-6">
                      <div class="form-check form-check-inline">
                          <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">&nbsp;
                          <label class="form-check-label" for="inlineCheckbox1">&nbsp;<h5>Is Earning?</h5></label>
                        </div>
                  </div>
              </div>
          <div class="row">
            <div class="col-sm-6">
                <div class="form-group row">
                    <label class="col-md-3 col-form-label">Date Of Birth</label>
               
                    <div class="col-md-6">
                        <select>
                            <option value="">1</option>
                            <option value="">2</option>
                          </select>
                          <select >
                            <option value="">may</option>
                            <option value="">june</option>
                          </select>
                          <select>
                            <option value="">2018</option>
                            <option value="">2017</option>
                          </select>
                    </div>
                  </div>
                
            </div>

          </div>
          <div class="col-md-6">
              <div class="form-group row">
                  <label for="inputPassword" class="col-md-2 col-form-label">Email</label>
                  <div class="col-md-9">
                    <input type="text" class="form-control" id="lastname" placeholder="">
                  </div>
                </div>
          </div>
          <div class="col-md-6">
              <div class="form-group row">
                  <label for="inputPassword" class="col-md-3 col-form-label">Phone Number</label>
                  <div class="col-md-2">
                    <input type="text" class="form-control" id="lastname" placeholder="contrycode">
                  </div>
                  <div class="col-md-2">
                      <input type="text" class="form-control" id="lastname" placeholder="areacode">
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="lastname" placeholder="Number">
                      </div>
                </div>
          </div>
          <div class="float-right">
            <tr>
              <td><button class="btn btn-primary">Submit</button></td>&nbsp;&nbsp;
              <td><button class="btn btn-danger">Cancle</button></td>
            </tr>
          </div>
</div>