<h3>
    <p class="font-weight-bold">Life Insurance</h3>
<!--start of buttons -->
<div>
    <div class="pull-right">
    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#lifeModal">
        <span>
            <i class="fa fa-plus" aria-hidden="true"></i>
            <span>Add New</span>
        </span>
    </button>
    <button type="button" class="btn btn-link">
        <span>
            <i class="fa fa-info" aria-hidden="true"></i>
            <span>Help</span>
        </span>
    </button>
</div>
    <!-- modal start -->
    <div class="modal fade" id="lifeModal" tabindex="-1" role="dialog" aria-labelledby="lifeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="lifeModalLabel">Life Insurance Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

                    <div class="modal-body">
                        <jhi-alert-error></jhi-alert-error>
                        <!-- <div class="form-group" [hidden]="!id">
              <label for="id">ID</label>
              <input type="text" class="form-control" id="id" name="id"
                     [(ngModel)]="stocks.id" readonly />
          </div> -->
                        <div class="form-group">
                            <label class="form-control-label" for="field_risk_coverage">Risk Coverage for</label>
                            <input type="text" class="form-control" id="risk_coverage" [(ngModel)]="lifeInsurance.risk_coverage" [ngModelOptions]="{standalone: true}"
                                required>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="field_expense_cover">How much of this Expense(%) would you want to be replaced through an insurance cover?</label>
                            <input type="text" class="form-control" name="expense_cover" id="expense_cover" [(ngModel)]="lifeInsurance.expense_cover" [ngModelOptions]="{standalone: true}"
                                required/>
                        </div>
                        <div class="form-group">
                            <div style="border-style: solid;border-width:2px; border-color: rgb(228, 219, 219);">
                            <label class="form-control-label" for="field_no_of_shares">Which of your goals need to be fulfilled without fail? You can add it to the insurance cover by checking the boxes below</label>
                           
                            <nav>
                                    <!--start of tab -->
                                    <div class="nav nav-tabs" id="nav-tab" role="tablist" style="margin-top:20px">
                                        <a class="nav-item nav-link active" id="nav-fg-tab" data-toggle="tab" href="#nav-fg" role="tab" aria-controls="nav-fg"
                                            aria-selected="true">Future goals</a>
                                        <a class="nav-item nav-link" id="nav-nil-tab" data-toggle="tab" href="#nav-nil" role="tab" aria-controls="nav-nil"
                                            aria-selected="false">Non Insured Liabilities</a>
                                    </div>
                                </nav>
    
                                <div class="tab-content" id="nav-tabContent">
                                  <div class="tab-pane fade show active" id="nav-fg" role="tabpanel" aria-labelledby="nav-fg-tab">
                                        <div>
                                                <table class="table table-hover table-sm">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">Goal Name</th>
                                            
                                                            <th scope="col">Total Fund Needed</th>
                                                            <th scope="col"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                            
                                                        <tr *ngFor="let goal of goalArray; let i = index">
                                                            <!-- <td><a [routerLink]="['../stocks', stocks.id ]">{{stocks.id}}</a></td>
                                                <td> {{stocks.id}} </td> -->
                                                            <td> {{goal.goal_name}} </td>
                                                            <td>{{goal.fund_needed}} </td>
                                                            <td> </td>
                                                            
                                                            <td>
                                                                <button class="btn btn-default" type="button" (click)="deleteFieldValue(i)">Delete</button>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                            
                                                </table>
                                            </div>
                                   </div>
                                   <div class="tab-pane" id="nav-nil" role="tabpanel" aria-labelledby="nav-nil-tab">
                                        <div>
                                                <table class="table table-hover table-sm">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">Liability Type</th>
                                            
                                                            <th scope="col">Oraganisation Name</th>
                                                            <th scope="col">Outstanding Amount</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                            
                                                        <tr *ngFor="let liabilitiy of liabilitiyArray; let i = index">
                                                            <!-- <td><a [routerLink]="['../stocks', stocks.id ]">{{stocks.id}}</a></td>
                                                <td> {{stocks.id}} </td> -->
                                                            <td> {{liabilitiy.liabilitiy_type}} </td>
                                                            <td>{{liabilitiy.org_name}} </td>
                                                            <td> {{liabilitiy.outAmount}}</td>
                                                            
                                                            <td>
                                                                <button class="btn btn-default" type="button" (click)="deleteFieldValue(i)">Delete</button>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                            
                                                </table>
                                            </div>
                                    </div>
                                    </div>
                                </div>
                        <div class="form-group">
                            <label class="form-control-label" for="field_total">Total</label>
                            <input type="number" class="form-control" name="total" id="total" [(ngModel)]="total" [ngModelOptions]="{standalone: true}"
                                required/>
                        </div>
                       

                    </div>
                    <div class="modal-footer">

                        <button type="submit" class="btn btn-primary" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary" data-dismiss="modal"
                             (click)="saveLifeInsurance()">
                            <span class="fa fa-save"></span>&nbsp;
                            <span>Save</span>
                        </button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
                            <span class="fa fa-ban"></span>&nbsp;
                            <span>Cancel</span>
                        </button>
                        <button type="button" class="btn btn-warning" (click)="resetFieldValue()">
                            <span>
                                <i class="fas fa-sync fa-spin" aria-hidden="true"></i>
                                <span>Reset</span>
                            </span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- end of modal -->
</div>
<!--end of buttons -->

<!-- table starts here -->
<div>
    <table class="table table-hover table-sm">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Expense percentage</th>
                <th scope="col">Total yearly expenses</th>
                <th scope="col">Edit/Delete</th>
            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let lifeInsurance of lifeArray; let i = index">
                <!-- <td><a [routerLink]="['../stocks', stocks.id ]">{{stocks.id}}</a></td>
    <td> {{stocks.id}} </td> -->
                <td> {{lifeInsurance.risk_coverage}} </td>
                <td>{{lifeInsurance.expense_cover}} </td>
                <td>{{lifeInsurance.total_yearly_expenses}} </td>
                <td>
                    <button class="btn btn-default" type="button" (click)="deleteFieldValue(i)">Delete</button>
                </td>
            </tr>
        </tbody>

    </table>
</div>
