<!-- <jhi-success-payment [payDetail]="paymentDetail"></jhi-success-payment> -->

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
            <h5>PayUMoney Payment Request Form</h5>
        <form #form action="https://sandboxsecure.payu.in/_payment" method="POST">
                <input type="hidden" name="key" value="{{paymentDetail.key}}">    
                <input type="hidden" name="hash_string" value="{{paymentDetail.hashString}}"  />
                <input type="hidden" name="hash" value="{{paymentDetail.hash}}" />
                <input type="hidden" name="txnid" value="{{paymentDetail.txnid}}" />
                <table>
                    <p>Mandatory Parameters</p>
                    <tr>
                        <td>Amount:</td>
                        <td><input name="amount" [(ngModel)]="user.amount"/></td>
                        <td>First Name: </td>
                        <td><input name="firstname" id="firstname"  [(ngModel)]="user.firstName"/></td>
                    </tr>
                    <tr>
                        <td>Email: </td>
                        <td><input name="email" id="email" [(ngModel)]="user.eMail"/></td>
                        <td>Phone: </td>
                        <td><input name="phone" [(ngModel)]="user.phone"/></td>
                    </tr>
                    <tr>
                        <td>Product Info: </td>
                        <td colspan="3"><textarea name="productInfo" [(ngModel)]="user.productInfo"></textarea></td>
                    </tr>
                    <tr>
                        <td>Success URI: </td>
                        <td colspan="3"><input name="surl" size="64" [(ngModel)]="user.sUrl" /></td>
                    </tr>
                    <tr>
                        <td>Failure URI: </td>
                        <td colspan="3"><input name="furl" size="64" [(ngModel)]="user.fUrl" /></td>
                    </tr>
                    <tr>
                        <td colspan="3"><input type="hidden" name="service_provider" value="payu_paisa" /></td>
                    </tr>
                    <tr>
                        <td><b>Optional Parameters</b></td>
                    </tr>
                    <tr>
                        <td>Last Name: </td>
                        <td><input name="lastname" id="lastname"  /></td>
                        <td>Cancel URI: </td>
                        <td><input name="curl" value="" /></td>
                    </tr>
                    <tr>
                        <td>Address1: </td>
                        <td><input name="address1" /></td>
                        <td>Address2: </td>
                        <td><input name="address2"  /></td>
                    </tr>
                    <tr>
                        <td>City: </td>
                        <td><input name="city"  /></td>
                        <td>State: </td>
                        <td><input name="state"  /></td>
                    </tr>
                    <tr>
                        <td>Country: </td>
                        <td><input name="country"  /></td>
                        <td>Zipcode: </td>
                        <td><input name="zipcode"  /></td>
                    </tr>
                    <tr>
                        <td>UDF1: </td>
                        <td><input name="udf1"  /></td>
                        <td>UDF2: </td>
                        <td><input name="udf2"  /></td>
                    </tr>
                    <tr>
                        <td>UDF3: </td>
                        <td><input name="udf3"   /></td>
                        <td>UDF4: </td>
                        <td><input name="udf4"  /></td>
                    </tr>
                    <tr>
                        <td>UDF5: </td>
                        <td><input name="udf5"  /></td>
                        <td>PG: </td>
                        <td><input name="pg"  /></td>
                    </tr>
                    <tr>
                        <td colspan="4"></td>
                    </tr>
                </table>
                <button  class="btn btn-success" (click)="submitUser()" >pay</button>
                <button type="submit" class="btn btn-success" (click)="form.submit()">Submit</button>
            </form>
    </div>
    <!-- <div class="col-md-2"></div>
    <div [ngSwitch]="submitUser()">
    <div class="alert alert-success" *ngSwitchCase="true">
            <span *ngIf="payDetail"
               > <jhi-success></jhi-success>
            </span>
        </div>
        <div> -->
</div>

