<div class="container">

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin-top: 20px"> 
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                            <li class="nav-item " style="margin-left:10px">
                      <a class="nav-link" ><h3>Fin Health Score 100/1000</h3><span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link"style="margin-left:150px" ><h3>Surplus</h3></a>
                    </li>
                    <li class="nav-item"style="margin-left:150px">
                      <a class="nav-link " ><h3>Networth</h3></a>
                    </li>
                    <li class="nav-item"style="margin-left:150px">
                            <a class="nav-link " ><h3>Goal Achievable</h3></a>
                          </li>
                  </ul>
                </div>
              </nav>

    <div><!-- nav tab coding -->

    <!--Tax Box-->   
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <div class="box">
                <div class="box-icon">
                   <span class="fa fa-paper-plane fa-fw fa-lg"></span>
                </div>
                <div class="info">
                    <h1 class="text-center">Tax</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti atque, tenetur quam aspernatur corporis at explicabo nulla dolore necessitatibus doloremque exercitationem sequi dolorem architecto perferendis quas aperiam debitis dolor soluta!</p>
                   <!-- <a href="" class="btn">Tax</a>--->
				<!--   <button type="button" class="btn btn-danger submit"><i class="fa fa-paper-plane" aria-hidden="false"></i> <h2>Start Now</h2></button>-->
                </div>
            </div>
        </div>
        <!---button close-->
		<br>
		<br>
		<div class="row pull-right" style="margin-top:300px;">
		

	<br>
	<br>
	<button type="button" class="btn btn-link" routerLink="/main">
  <span>
    <i class="fa fa-clipboard" aria-hidden="true"></i> <h3>Edit</h3>
  </span>
  </button>
</div>
			  <br>
			  <br>
	<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col"></th>
      <th scope="col"><h5>Name</h5></th>
      <th scope="col"><h5>Age</h5></th>
      <th scope="col"><h5>Income</h5></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"></th>
      <td><h5>Mark</h5></td>
      <td><h5>24</h5></td>
      <td><h5>0</h5></td>
    </tr>
   <!--- <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>--->
 