<div><!-- nav tab coding -->
  <div  style=" opacity: 10;
  transition: all 700ms ease;
  right: 0;
  left: 0;
  background: #fff;
  -webkit-box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
  z-index: 5;
  line-height: 20px;
  font-size: 0.75em;
  font-weight: 500;
  vertical-align: middle;
  border-radius: 10px;">
<div style="border-radius: 10px;">
  <nav  class="navbar navbar-expand-md navbar-dark bg-dark "
    style=" margin-top:0px; border-radius: 10px;">
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item " style="margin-left:10px">
            <a class="nav-link" >FIN HEALTH SCORE 200/1000 </a>
          </li>
          <li class="nav-item"  style="margin-left:250px">
            <a class="nav-link">SURPLUS  0</a>
          </li>
          <li class="nav-item"  style="margin-left:200px">
            <a class="nav-link ">NETWORTH  0</a>
          </li>
          <li class="nav-item"  style="margin-left:250px">
              <a class="nav-link ">GOALS ACHIEVABLE 1 /1</a>
          </li>
          </ul>
      </div>
    </nav>
  </div>
</div>  <!--end of navbar2 -->
    <!--Tax Box-->   
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <div class="box">
                <div class="box-icon">
                   <span class="fa fa-paper-plane fa-fw fa-lg"></span>
                </div>
                <div class="info">
                    <h1 class="text-center">Tax</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti atque, tenetur quam aspernatur corporis at explicabo nulla dolore necessitatibus doloremque exercitationem sequi dolorem architecto perferendis quas aperiam debitis dolor soluta!</p>
                   <!-- <a href="" class="btn">Tax</a>--->
				<!--   <button type="button" class="btn btn-danger submit"><i class="fa fa-paper-plane" aria-hidden="false"></i> <h2>Start Now</h2></button>-->
                </div>
            </div>
        </div>
        <!---button close-->
		<br>
		<br>
		<div class="row pull-right" style="margin-top:300px;">
		

	<br>
	<br>
	<button type="button" class="btn btn-link" routerLink="/main">
  <span>
    <i class="fa fa-clipboard" aria-hidden="true"></i> <h5>Edit</h5>
  </span>
  </button>
</div>
			  <br>
			  <br>
	<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col"></th>
      <th scope="col"><h5>Name</h5></th>
      <th scope="col"><h5>Age</h5></th>
      <th scope="col"><h5>Income</h5></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"></th>
      <td><h5>Mark</h5></td>
      <td><h5>24</h5></td>
      <td><h5>0</h5></td>
    </tr>
   <!--- <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>--->
 