<div class="container-fluid">
    <div class="jumbotron">
    <h1 style="text-align:center">Request a Meeting</h1>
    </div></div>
    
            <div id="feedback"> <div class="container">
<div class="col-md-5">
<div class="form-area">  
<form role="form">
<br style="clear:both;">
            <h3 style="margin-bottom: 25px; text-align: center;">Contact Form</h3>
            <div class="form-group">
                <input id="name" type="text" class="form-control"  name="name" placeholder="Name"[(ngModel)]="user.name" required>
            </div>
            <div class="form-group">
                <input id="email"type="text" class="form-control"  name="email" placeholder="Email"[(ngModel)]="user.email" required>
            </div>
            <div class="form-group">
                <input id="mobile" type="text" class="form-control"  name="Mobile" placeholder="Mobile" [(ngModel)]="user.phone"required>
            </div>
            
            <div class="form-group">
            <textarea class="form-control" type="textarea" id="message"name="message" placeholder="Message"[(ngModel)]="user.message" rows="7"required></textarea>
                                    
            </div>
    
<button type="button"(click)="submitUser()"data-toggle="modal"data-target="#universal" id="submit" name="submit" class="btn btn-primary pull-right">Submit Form</button>
<div id="universal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
                 </div>
            <div class="modal-body">
              <h2 style="color:black">Your meeting request submit successfully!
              </h2>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
  </div>     
</div>
</form>
</div>
</div>
</div> </div> <!--feedback-->