
			 <div class="contact-pageheader">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
							<div class="contact-caption">
								<h1 class="contact-title">Contact Us.</h1>
								<h5 class="contact-text">Here is a few approaches to get in touch with me. It would be ideal if you send an email, fill the contact form <strong>I'm looking forward to speaking with you.</h5>
								</p>
							</div>
						</div>
						<div class="col-lg-offset-1 col-lg-5 col-md-offset-1 col-md-5 col-sm-12 col-xs-12">
							<div class="contact-form">
								<h2 class="contact-info-title">Contact Us</h2>
								<div class="row">
										<!--<form id="contactForm" name="sentMessage" novalidate="">	-->	
									
									<form>
											<div class="form-group floating-label-form-group controls"></div>
											
										<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
											<div class="form-group">
													<label class="control-label sr-only " for="Name"></label>
												<input id="name" type="text" placeholder="Name" name="name" [(ngModel)]="user.name" class="form-control"required>
											</div>
										</div>
										<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
											<div class="form-group">
												<label class="control-label sr-only " for="email"></label>
												<input id="email" type="text" name="email" placeholder="Email" [(ngModel)]="user.email" class="form-control"required>
											</div>
										</div>
										<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
											<div class="form-group">
												<label class="control-label sr-only " for="Phone"></label>
												<input id="phone" type="text" name="phone" maxlength="10"placeholder="Phone" [(ngModel)]="user.phone"class="form-control"required>
											</div>
										</div>
										
									<!---	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
											<div class="form-group">
												<label class="control-label sr-only" for="select"></label>
												<select class="form-control">
													<option value="">What Are You Getting In Touch?</option>
													<option value="">Relationship</option>
													<option value="">Life Coaching</option>
													<option value="">Leadership</option>
													<option value="">Time Management</option>
												</select>
											</div>
										</div>-->
										<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb20">
											<div class="form-group">
												<label class="control-label sr-only" for="textarea"></label>
												<textarea class="form-control pdt20" id="textarea" name="textarea"  placeholder="Message" [(ngModel)]="user.message"required></textarea>
											</div>
										</div>
										<div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
											<button (click)="submitUser()"  class="btn btn-primary btn-lg"data-toggle="modal"data-target="#universal">Send message</button>
											<div id="universal" class="modal fade" role="dialog">
												<div class="modal-dialog modal-dialog-centered">
											  
													  <div class="modal-content">
													<div class="modal-header">
													  <button type="button" class="close" data-dismiss="modal">&times;</button>
	
													</div>
													<div class="modal-body">
													  <h3>Your Contact details submit successfully!
													  </h3>
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
													  </div>
													</div>
												</div>
													</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<br>
			<br>
			
					  
							<div class="row text-center">
				<div class="col-sm-3 col-xs-6 first-box">
				<h1><span class="glyphicon glyphicon-earphone"></span></h1>
				<h3>Phone</h3>
				<h2>+90 2222 0075</h2><br>
			</div>
			<br><br>
			<div class="col-sm-3 col-xs-6 second-box">
				<h1><span class="glyphicon glyphicon-home"></span></h1>
				<h3>Location</h3>
				<h5>OFFICE # 9, 7TH FLOOR, A WING, CITY VISTA, FOUNTAIN ROAD, ASHOKA NAGAR, KHARADI, PUNE, MAHARASHTRA 411014</h5><br>
			</div>
			<div class="col-sm-3 col-xs-6 third-box">
				<h1><span class="glyphicon glyphicon-send"></span></h1>
				<h3>E-mail</h3>
				<h4>Contact@valuequo.com</h4><br>
			</div>
			<div class="col-sm-3 col-xs-6 fourth-box">
				<h1><span class="glyphicon glyphicon-leaf"></span></h1>
				<h3>Web</h3>
				<h5>www.Buckswise.com</h5><br>
			</div>
			</div>
			<br>
			<br>
			<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15129.13585020647!2d73.9446626!3d18.5612324!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x1fda670135c12f39!2sValueQuo+Solutions+Pvt.+Ltd.!5e0!3m2!1sen!2sin!4v1524818980474" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
			<br>
			<br>
		