.jumbotron{
	color:black;
	background-color:Silver;
}
body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: 'PT Sans', sans-serif;
    letter-spacing: 0px;
    font-size: 18px;
    color: #525756;
    font-weight: 400;
    line-height: 2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #272d2c;
    margin: 0px 0px 15px 0px;
    font-weight: 400;
    font-family: 'PT Sans', sans-serif;
}

h1 {
    font-size: 42px;
    line-height: 42px;
}

h2 {
    font-size: 30px;
    line-height: 32px;
}

h3 {
    font-size: 24px;
    line-height: 30px;
}

h4 {
    font-size: 18px;
    line-height: 26px;
}

h5 {
    font-size: 16px;
    font-weight: 400;
}

h6 {
    font-size: 12px;
    font-weight: 400;
}

p {
    margin: 0 0 20px;
    line-height: 1.6;
}

p:last-child {
    margin: 0px;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #272d2c;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

a:focus,
a:hover {
    text-decoration: none;
    color: #f8591b;
}

sub {
    bottom: 0em;
}

.lead {
    font-size: 23px;
    font-weight: 400;
    line-height: 1.5;
    font-family: 'PT Serif', serif;
    color: #272d2c;
    margin-bottom: 40px;
}


.form-group {
    margin-bottom: 5px;
}

.form-control {
    border-radius: 0px;
    color: #6b6c6d;
    font-size: 14px;
    font-weight: 600;
    width: 100%;
    height: 52px;
    padding: 0px;
    line-height: 1.42857143;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom: 1px solid #cbcfce;
    background-color: transparent;
    text-transform: uppercase;
    letter-spacing: 0px;
    margin-bottom: 10px;
    -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075);
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075);
}

.form-control:focus {
    color: #34b2a4 !important;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom-color: #34b2a4;
    font-size: 12px;
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}

input[type=checkbox],
input[type=radio] {
    margin: 8px 0 0;
    margin-top: 12px;
    line-height: normal;
}

input::-webkit-input-placeholder {
    color: #6b6c6d !important;
}

input:focus::-webkit-input-placeholder {
    color: #34b2a4 !important;
    bottom: 20px;
    position: relative;
}

textarea::-webkit-input-placeholder {
    color: #6b6c6d !important;
}

textarea:focus::-webkit-input-placeholder {
    color: #34b2a4 !important;
    bottom: 20px;
    position: relative;
    font-size: 12px;
}

.input-group-addon {
    background-color: transparent;
    border: 1px solid #34b2a4;
    border-radius: 0px;
}

.focus {
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom: 1px solid #cbcfce;
    background-color: #fff;
}

.focus:focus {
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom: 1px solid #cbcfce;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.has-success .form-control {
    border-color: #3c763d;
    background-color: #fff;
    box-shadow: none;
}

.has-success .form-control:focus {
    border-color: #3c763d;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.has-error .form-control {
    border-color: #a94442;
    background-color: #fff;
    box-shadow: none;
}

.has-error .form-control:focus {
    border-color: #34b2a4;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.input-group-addon:last-child {
    border-left: 0;
    border-right: transparent;
    border-top: transparent;
}

.input-group-addon i {
    color: #34b2a4;
}

option {
    color: #6b6c6d;
}

hr {
    border-top: 1px solid #e4e9e8;
    margin-bottom: 40px;
    margin-top: 40px;
}
.mb60{margin-bottom:60px;}
.btn {
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 600;
    padding: 11px 30px;
    border-radius: 6px;
    line-height: 1.8;
    letter-spacing: 0px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    word-wrap: break-word;
    white-space: normal !important;
}

.btn-primary {
    background-color: #f8591b;
    color: #fff;
    border: 1px solid #f8591b;
}

.btn-primary:hover {
    background-color: #e64c10;
    color: #fff;
    border: 1px solid #e64c10;
}

.btn-primary.focus,
.btn-primary:focus {
    background-color: #e64c10;
    color: #fff;
    border: 1px solid #e64c10;
}
.space-medium {
    padding-top: 80px;
    padding-bottom: 80px;
}
.pdt20 {
    padding-top: 20px;
}

.contact-pageheader {
    position: relative;
    background: rgba(145, 238, 226, 1);
    background: -moz-linear-gradient(left, rgba(145, 238, 226, 1) 0%, rgba(145, 238, 226, 1) 22%, rgba(145, 238, 226, 1) 31%, rgba(145, 238, 226, 1) 39%, rgba(57, 196, 182, 1) 71%, rgba(57, 196, 182, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(145, 238, 226, 1)), color-stop(22%, rgba(145, 238, 226, 1)), color-stop(31%, rgba(145, 238, 226, 1)), color-stop(39%, rgba(145, 238, 226, 1)), color-stop(71%, rgba(57, 196, 182, 1)), color-stop(100%, rgba(57, 196, 182, 1)));
    background: -webkit-linear-gradient(left, rgba(145, 238, 226, 1) 0%, rgba(145, 238, 226, 1) 22%, rgba(145, 238, 226, 1) 31%, rgba(145, 238, 226, 1) 39%, rgba(57, 196, 182, 1) 71%, rgba(57, 196, 182, 1) 100%);
    background: -o-linear-gradient(left, rgba(145, 238, 226, 1) 0%, rgba(145, 238, 226, 1) 22%, rgba(145, 238, 226, 1) 31%, rgba(145, 238, 226, 1) 39%, rgba(57, 196, 182, 1) 71%, rgba(57, 196, 182, 1) 100%);
    background: -ms-linear-gradient(left, rgba(145, 238, 226, 1) 0%, rgba(145, 238, 226, 1) 22%, rgba(145, 238, 226, 1) 31%, rgba(145, 238, 226, 1) 39%, rgba(57, 196, 182, 1) 71%, rgba(57, 196, 182, 1) 100%);
    background: linear-gradient(to right, rgba(145, 238, 226, 1) 0%, rgba(145, 238, 226, 1) 22%, rgba(145, 238, 226, 1) 31%, rgba(145, 238, 226, 1) 39%, rgba(57, 196, 182, 1) 71%, rgba(57, 196, 182, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#91eee2', endColorstr='#39c4b6', GradientType=1);
    margin-bottom: 70px;
}

.contact-caption {
    position: relative;
    top: 180px;
}

.contact-title {
    font-family: 'PT Serif', serif;
    font-size: 50px;
    font-style: italic;
    margin-bottom: 40px;
    line-height:80px;
}

.contact-caption-text {
    font-size: 23px;
    color: #272d2c;
}

#contact-map {
    height: 450px;
    width: 100%;
    position: relative;
}

.contact-form {
    background-color: #fff;
    padding: 30px;
    text-align: center;
    position: relative;
    bottom: 0px;
    top: 100px;
    -webkit-box-shadow: 1px 2px 14px 0px rgba(0, 0, 0, 0.29);
    -moz-box-shadow: 1px 2px 14px 0px rgba(0, 0, 0, 0.29);
    box-shadow: 1px 2px 14px 0px rgba(0, 0, 0, 0.29);
}





.first-box{padding:10px;background:#9C0;}
.second-box{padding:10px; background:#39F;}
.third-box{padding:10px;background:#F66;}
.fourth-box{padding:10px;background:#6CC;}
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
footer { background-color:#0c1a1e; min-height:350px; font-family: 'Open Sans', sans-serif; }
.footerleft { margin-top:50px; padding:0 36px; }
.logofooter { margin-bottom:10px; font-size:25px; color:#fff; font-weight:700;}

.footerleft p { color:#fff; font-size:12px !important; font-family: 'Open Sans', sans-serif; margin-bottom:15px;}
.footerleft p i { width:20px; color:#999;}


.paddingtop-bottom {  margin-top:50px;}
.footer-ul { list-style-type:none;  padding-left:0px; margin-left:2px;}
.footer-ul li { line-height:29px; font-size:12px;}
.footer-ul li a { color:#a0a3a4; transition: color 0.2s linear 0s, background 0.2s linear 0s; }
.footer-ul i { margin-right:10px;}
.footer-ul li a:hover {transition: color 0.2s linear 0s, background 0.2s linear 0s; color:#ff670f; }

.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 
 

 
 .icon-ul { list-style-type:none !important; margin:0px; padding:0px;}
 .icon-ul li { line-height:75px; width:100%; float:left;}
 .icon { float:left; margin-right:5px;}
 
 
 .copyright { min-height:40px; background-color:#000000;}
 .copyright p { text-align:left; color:#FFF; padding:10px 0; margin-bottom:0px;}
 .heading7 { font-size:21px; font-weight:700; color:#d9d6d6; margin-bottom:22px;}
 .post p { font-size:12px; color:#FFF; line-height:20px;}
 .post p span { display:block; color:#8f8f8f;}
 .bottom_ul { list-style-type:none; float:right; margin-bottom:0px;}
 .bottom_ul li { float:left; line-height:40px;}
 .bottom_ul li:after { content:"/"; color:#FFF; margin-right:8px; margin-left:8px;}
 .bottom_ul li a { color:#FFF;  font-size:12px;}