<div  style=" opacity: 10;
transition: all 700ms ease;
right: 0;
left: 0;
background: #fff;
-webkit-box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.5);
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
z-index: 5;
line-height: 20px;
font-size: 0.75em;
font-weight: 500;
vertical-align: middle;
border-radius: 10px;"><!--div style start-->
  <div style="border-radius: 10px;"><!--div nav start-->
    <nav  class="navbar navbar-expand-md navbar-dark bg-dark" style=" margin-top:0px; border-radius: 10px;">
      <div class="collapse navbar-collapse" id="navbarsExampleDefault"><!--div navbar1 start-->
        <ul class="navbar-nav mr-auto"><!--start of ul-->
          <li class="nav-item " style="margin-left:10px">
            <a class="nav-link" >FIN HEALTH SCORE 200/1000 </a>
          </li>
          <li class="nav-item"  style="margin-left:250px">
            <a class="nav-link">SURPLUS  0</a>
          </li>
          <li class="nav-item"  style="margin-left:200px">
            <a class="nav-link ">NETWORTH  0</a>
          </li>
          <li class="nav-item"  style="margin-left:250px">
            <a class="nav-link ">GOALS ACHIEVABLE 1 /1</a>
          </li>
        </ul><!--end of ul-->
      </div><!--end of navbar1-->
    </nav><!--end of nav-->
  </div><!--end div nav-->
</div><!--div style start-->
<div><!--div goal start-->
  <h3>Goals</h3> 
  <div class="pull-right"><!--start of buttons -->
    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">
      <span><i class="fa fa-plus" aria-hidden="true"></i>
        <span>Add</span>
      </span>
    </button>
  <!--start of modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width:1300px; max-height: 800px;"><!--start of modal-dialog-->
      <div class="modal-content"><!--start of modal-content-->
        <div class="modal-header"><!--start of modal-header-->
          <h5 class="modal-title" id="exampleModalLabel">Goal Details</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><!--start button-->
            <span aria-hidden="true">&times;</span>
          </button><!--end button-->
        </div><!--end of modal header div-->
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist"><!--start of ul -->
          <li class="nav-item">
            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
            aria-controls="pills-home" aria-selected="true">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-education-tab" data-toggle="pill" href="#pills-education" role="tab" 
            aria-controls="pills-education" aria-selected="false">Education</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-vehicle-tab" data-toggle="pill" href="#pills-vehicle" role="tab" 
            aria-controls="pills-vehicle" aria-selected="false">Vehicle</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-childbirth-tab" data-toggle="pill" href="#pills-childbirth" role="tab" 
            aria-controls="pills-childbirth" aria-selected="true">Child Birth</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-merrage-tab" data-toggle="pill" href="#pills-merrage" role="tab" 
            aria-controls="pills-merrage" aria-selected="true">Merrage</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " id="pills-business-tab" data-toggle="pill" href="#pills-business" role="tab" 
            aria-controls="pills-business" aria-selected="true">Business</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-familysupport-tab" data-toggle="pill" href="#pills-familysupport" 
            role="tab" aria-controls="pills-familysupport" aria-selected="true">Family Support</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-vacation-tab" data-toggle="pill" href="#pills-vacation" role="tab" 
            aria-controls="pills-vacation" aria-selected="true">Vacation</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-emergencyfund-tab" data-toggle="pill" href="#pills-emergencyfund" role="tab" 
            aria-controls="pills-emergencyfund" aria-selected="true">Emergency Fund</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-retirementfund-tab" data-toggle="pill" href="#pills-retirementfund" role="tab" 
            aria-controls="pills-retirementfund" aria-selected="true">Retirement Fund</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-newgoal-tab" data-toggle="pill" href="#pills-newgoal" role="tab"
            aria-controls="pills-newgoal" aria-selected="true">New Goal</a>
          </li>
        </ul><!--End of ul -->
        <div class="tab-content" id="pills-tabContent"><!--start of tabContant div-->
          <div class="tab-pane fade show active container" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab"><!--start of home-tabpane div-->
            <div class="row"><!--start of row1 div-->
              <div class="col-md-6"><!--start of row1.col1 div-->
                <!-- <input type="text" name="goalname" [(ngModel)]="goalselect.goalname" [ngModelOptions]="{standalone: true}"> -->
                <table>
                  <tr>
                    <td>Goal Name</td>
                    <td><input type="text" name="goalname" [(ngModel)]="goalselect.goalname" [ngModelOptions]="{standalone: true}"></td>
                  </tr>
                  <tr>
                    <td>Priority</td>
                    <td><input type="text"  name="priority" [(ngModel)]="goalselect.priority" [ngModelOptions]="{standalone: true}"></td>
                  </tr>
                  <tr>
                    <td>Price</td>
                    <td><input type="text"  name="price" [(ngModel)]="goalselect.price" [ngModelOptions]="{standalone: true}"></td>
                  </tr>
                  <tr>
                    <td>Notes</td>
                    <td><textarea rows="3" cols="50" name="comment" form="usrform"  name="notes" [(ngModel)]="goalselect.notes" [ngModelOptions]="{standalone: true}"></textarea></td>
                  </tr>
                </table>
              </div><!--end of row1.col1 div-->
              <div class="col-md-6"><!--start of row1.col2 div-->
                <tr>
                    <td>Loan Requirement</td>
                    <td><input type="text"  name="prices" [(ngModel)]="goalselect.loanrequire" [ngModelOptions]="{standalone: true}"></td>
                </tr>
                <tr><!--start of col4-->
                  <td>
                    Date of Creation
                  </td>
                  <td>
                    <input type="text"  name="dob" [(ngModel)]="goalselect.creationdate" [ngModelOptions]="{standalone: true}"
                    placeholder="Datepicker"
                    class="form-control"
                    bsDatepicker>
                  </td> <!--end of col4-->
                </tr>
              </div><!--end of row1.col2 div-->
            </div><!--end of row1 div-->
            <div class="pull-right">
              <button class="btn btn-info" (click)="saveHome()" data-dismiss="modal">Submit</button>
              <button class="btn btn-danger"  data-dismiss="modal" (click)="clear()">Cancle</button>
            </div>
          </div><!--end of home-tabpane div-->      
          <div class="tab-pane fade container" id="pills-education" role="tabpanel" aria-labelledby="pills-education-tab"><!--start of edu-tabpane div-->
            <div class="row"><!--start of row1 div-->
              <div class="col-md-6"><!--start of row1.col1 div-->
                <table><!--start of table-->
                  <tr>
                    <td>Goal Name</td>
                    <td><input type="text" [(ngModel)]="Educationselect.goalname" [ngModelOptions]="{standalone: true}"></td>
                  </tr>
                  <tr>
                    <td>Priority</td>
                    <td><input type="text" [(ngModel)]="Educationselect.priority"></td>
                  </tr>
                  <tr>
                    <td>Goal Duration</td>
                    <td><input type="text" [(ngModel)]="Educationselect.duration"></td>
                  </tr>
                  <tr>
                    <td>Price</td>
                    <td><input type="text" [(ngModel)]="Educationselect.price"></td>
                  </tr>
                  <tr>
                    <td>Notes</td>
                    <td><textarea rows="3" cols="50" name="comment" form="usrform" [(ngModel)]="Educationselect.notes"></td>
                  </tr>
                </table><!--end of table-->
              </div><!--end of row1.col1 div-->
                <div class="col-md-6"><!--start of row1.col2 div-->
                  <table><!--start of table-->
                      <tr>
                        <td>Loan Requirement(%)</td>
                        <td><input type="text" [(ngModel)]="Educationselect.loanrequire"></td>
                      </tr>
                      <tr><!--start of tr-->
                        <td>Date of Creation</td>
                        <td>
                          <input type="text"
                          placeholder="Datepicker"
                          class="form-control"
                          bsDatepicker [(ngModel)]="Educationselect.creationdate">
                        </td>
                      </tr><!--end of tr-->
                  </table><!--end of table-->
                </div><!--end of row1.col2 div-->
            </div><!--end of row1 div-->
            <div class="pull-right"><!--start of btn div-->
              <button class="btn btn-info" (click)="saveEducation()" data-dismiss="modal">Submit</button>
              <button class="btn btn-danger" data-dismiss="modal">Cancle</button>
            </div><!--end of btn div-->
          </div><!--end of edu-tabpane div-->
          <div class="tab-pane fade container" id="pills-vehicle" role="tabpanel" 
          aria-labelledby="pills-vehicle-tab"><!--start of vehi-tabpane div-->
            <div class="row"><!--start of row1 div-->
              <div class="col-md-6"><!--start of row1.col1 div-->
                <table>
                  <tr>
                    <td>Goal Name</td>
                    <td><input type="text" [(ngModel)]="Vehicleselect.goalname" required></td>
                  </tr>
                  <tr>
                    <td>Priority</td>
                    <td><input type="text" [(ngModel)]="Vehicleselect.priority"></td>
                  </tr>
                  <tr>
                    <td>Price</td>
                    <td><input type="text" [(ngModel)]="Vehicleselect.price"></td>
                  </tr>
                  <tr>
                    <td>Notes</td>
                    <td><textarea rows="3" cols="50" name="comment" form="usrform" [(ngModel)]="Vehicleselect.notes"></td>
                  </tr>
                </table>
              </div><!--end of row1.col1 div-->
                <div class="col-md-6"><!--start of row1.col2 div-->
                  <tr>
                      <td>Loan Requirement</td>
                      <td><input type="text" [(ngModel)]="Vehicleselect.loanrequire"></td>
                  </tr>
                  <tr><!--start of col4-->
                    <td>
                      Date of Creation
                    </td>
                    <td>
                      <input type="text"
                      placeholder="Datepicker"
                      class="form-control"
                      bsDatepicker [(ngModel)]="Vehicleselect.creationdate">
                    </td> <!--end of col4-->
                  </tr>
                </div><!--start of row1.col2 div-->
            </div><!--end of row1 div-->
            <div class="pull-right">
              <button class="btn btn-info" (click)="saveVehicle()" data-dismiss="modal">Submit</button>
              <button class="btn btn-danger" data-dismiss="modal">Cancle</button>
            </div>
          </div><!--end of vehi-tabpane div-->
          <div class="tab-pane fade container" id="pills-childbirth" role="tabpanel" 
          aria-labelledby="pills-childbirth-tab"><!--start of child-tabpane div-->
            <div class="row"><!--start of row1 div-->
              <div class="col-md-6"><!--start of row1.col1 div-->
                <table>
                  <tr>
                    <td>Goal Name</td>
                    <td><input type="text" [(ngModel)]="Childbirthselect.goalname"></td>
                  </tr>
                  <tr>
                    <td>Priority</td>
                    <td><input type="text" [(ngModel)]="Childbirthselect.priority"></td>
                  </tr>
                  <tr>
                    <td>Amount Needed</td>
                    <td><input type="text"  [(ngModel)]="Childbirthselect.price"></td>
                  </tr>
                  <tr>
                    <td>Notes</td>
                    <td><textarea rows="3" cols="50" name="comment" form="usrform"  [(ngModel)]="Childbirthselect.notes"></td>
                  </tr>
                </table>
              </div><!--end of row1.col1 div-->
              <div class="col-md-6"><!--start of row1.col2 div-->
                <tr>
                  <td>Loan Requirement</td>
                  <td><input type="text"  [(ngModel)]="Childbirthselect.loanrequire"></td>
                </tr>
                <tr>
                  <td>Date of Creation</td>
                  <td>
                    <input type="text"
                    placeholder="Datepicker"
                    class="form-control"
                    bsDatepicker [(ngModel)]="Childbirthselect.creationdate">
                  </td>
                </tr>
              </div><!--end of row1.col2 div-->
            </div><!--start of row1 div-->
            <div class="pull-right"><!--start of btn div-->
                <button class="btn btn-info"(click)="saveChildbirth()" data-dismiss="modal">Submit</button>
                <button class="btn btn-danger" data-dismiss="modal">Cancle</button>
            </div><!--end of btn div-->
          </div><!--end of child-tabpane div-->
          <div class="tab-pane fade container" id="pills-merrage" role="tabpanel"
          aria-labelledby="pills-merrage-tab"><!--start of merrage-tabpane div-->
            <div class="row"><!--start of row1 div-->
              <div class="col-md-6"><!--start of row1.col1 div-->
                  <table>
                    <tr>
                      <td>Goal Name</td>
                      <td><input type="text" [(ngModel)]="Merrageselect.goalname"></td>
                    </tr>
                    <tr>
                      <td>Priority</td>
                      <td><input type="text" [(ngModel)]="Merrageselect.priority"></td>
                    </tr>
                      <tr>
                        <td>Amount Needed</td>
                        <td><input type="text" [(ngModel)]="Merrageselect.price"></td>
                      </tr>
                      <tr>
                        <td>Notes</td>
                        <td><textarea rows="3" cols="50" name="comment" form="usrform" [(ngModel)]="Merrageselect.notes"></td>
                      </tr>
                    </table>
                  </div><!--end of row1.col1 div-->
                  <div class="col-md-6"><!--start of row1.col2 div-->
                    <tr>
                      <td>Loan Requirement</td>
                      <td><input type="text" [(ngModel)]="Merrageselect.loanrequire"></td>
                    </tr>
                    <tr>
                      <td>
                        Date of Creation
                      </td>
                      <td>
                        <input type="text"
                        placeholder="Datepicker"
                        class="form-control"
                        bsDatepicker [(ngModel)]="Merrageselect.creationdate">
                      </td>
                    </tr>
                  </div><!--end of row1.col2 div-->
              </div><!--end of row1 div-->
            <div class="pull-right">
              <button class="btn btn-info" (click)="saveMerrage()" data-dismiss="modal">Submit</button>
              <button class="btn btn-danger" data-dismiss="modal">Cancle</button>
            </div>
          </div><!--end of merrage-tabpane div-->
          <div class="tab-pane fade container" id="pills-business" role="tabpanel" 
          aria-labelledby="pills-business-tab"><!--start of business-tabpane div-->
            <div class="row"><!--start row1 div-->
              <div class="col-md-6"><!--start row1.col1 div-->
                <table>
                  <tr>
                    <td>Goal Name</td>
                    <td><input type="text" [(ngModel)]="Businessselect.goalname"></td>
                  </tr>
                  <tr>
                    <td>Priority</td>
                    <td><input type="text" [(ngModel)]="Businessselect.priority"></td>
                  </tr>
                    <tr>
                      <td>Amount Needed</td>
                      <td><input type="text" [(ngModel)]="Businessselect.price"></td>
                    </tr>
                    <tr>
                      <td>Notes</td>
                      <td><textarea rows="3" cols="50" name="comment" form="usrform" [(ngModel)]="Businessselect.notes"></td>
                    </tr>
                </table>
              </div><!--end row1.col1 div-->
              <div class="col-md-6"><!--start row1.col1 div-->
                <tr>
                  <td>Loan Requirement</td>
                  <td><input type="text" [(ngModel)]="Businessselect.loanrequire"></td>
                </tr>
                  <tr>
                    <td>Date of Creation</td>
                    <td>
                      <input type="text"
                      placeholder="Datepicker"
                      class="form-control"
                      bsDatepicker [(ngModel)]="Businessselect.creationdate">
                    </td>
                  </tr>
              </div><!--end row1.col2 div-->
            </div><!--start row1 div-->
            <div class="pull-right">
              <button class="btn btn-info" (click)="saveBusiness()" data-dismiss="modal">Submit</button>
              <button class="btn btn-danger" data-dismiss="modal">Cancle</button>
            </div>
          </div><!--end of business-tabpane div-->
          <div class="tab-pane fade container " id="pills-familysupport" role="tabpanel" 
          aria-labelledby="pills-familysupport-tab"><!--start of familysup-tabpane div-->
            <div class="row"><!--start row1 div-->
              <div class="col-md-6"><!--start row1.col1 div-->
                <table>
                  <tr>
                    <td>Goal Name</td>
                    <td><input type="text"[(ngModel)]="FamilySupportselect.goalname"></td>
                  </tr>
                  <tr>
                    <td>Priority</td>
                    <td><input type="text"[(ngModel)]="FamilySupportselect.priority"></td>
                  </tr>
                  <tr>
                    <td>Amount Needed</td>
                    <td><input type="text"[(ngModel)]="FamilySupportselect.price"></td>
                  </tr>
                  <tr>
                    <td>Notes</td>
                    <td><textarea rows="3" cols="50" name="comment" form="usrform"[(ngModel)]="FamilySupportselect.notes"></td>
                  </tr>
                </table>
            </div><!--end row1.col1 div-->
            <div class="col-md-6"><!--start row1.col2 div-->
                <tr>
                    <td>Loan Requirement</td>
                    <td><input type="text" [(ngModel)]="FamilySupportselect.loanrequire"></td>
                </tr>
                <tr>
                  <td>
                    Date of Creation
                  </td>
                  <td>
                    <input type="text"
                    placeholder="Datepicker"
                    class="form-control"
                    bsDatepicker [(ngModel)]="FamilySupportselect.creationdate">
                  </td>
                </tr>
            </div><!--end row1.col1 div-->
          </div><!--end row1 div-->
          <div class="pull-right">
            <button class="btn btn-info"(click)= "saveFamilysup()" data-dismiss="modal">Submit</button>
            <button class="btn btn-danger" data-dismiss="modal">Cancle</button>
          </div>
        </div><!--end of familysup-tabpane div-->
        <div class="tab-pane fade container" id="pills-vacation" role="tabpanel"
          aria-labelledby="pills-vacation-tab"><!--start of vacation-tabpane div-->
          <div class="row"><!--start of row1 div-->
            <div class="col-md-6"><!--start of row1.col1 div-->
              <table>
                <tr>
                  <td>Goal Name</td>
                  <td><input type="text" [(ngModel)]="Vacationselect.goalname"></td>
                </tr>
                <tr>
                  <td>Priority</td>
                  <td><input type="text" [(ngModel)]="Vacationselect.priority"></td>
                </tr>
                <tr>
                  <td>Amount Needed</td>
                  <td><input type="text" [(ngModel)]="Vacationselect.price"></td>
                </tr>
                <tr>
                  <td>Notes</td>
                  <td><textarea rows="3" cols="50" name="comment" form="usrform" [(ngModel)]="Vacationselect.notes"></td>
                </tr>
              </table>
            </div><!--end of row1.col1 div-->
            <div class="col-md-6"><!--start of row1.col2 div-->
              <tr>
                <td>Loan Requirement</td>
                <td><input type="text" [(ngModel)]="Vacationselect.loanrequire"></td>
              </tr>
              <tr>
                <td>
                  Date of Creation
                </td>
                <td>
                  <input type="text"
                  placeholder="Datepicker"
                  class="form-control"
                  bsDatepicker [(ngModel)]="Vacationselect.creationdate">
                </td>
              </tr>
            </div><!--end of row1.col2 div-->
        </div><!--end of row1 div-->
        <div class="pull-right">
          <button class="btn btn-info"(click)="saveVacation()" data-dismiss="modal">Submit</button>
          <button class="btn btn-danger" data-dismiss="modal">Cancle</button>
        </div>
      </div><!--end of vacation-tabpane div-->
        <div class="tab-pane fade container" id="pills-emergencyfund" role="tabpanel"
          aria-labelledby="pills-emergencyfund-tab"><!--start of emergency-tabpane div-->
          <div class="row"><!--start of row1 div-->
            <div class="col-md-6"><!--start of row1.col1 div-->
              <table>
                <tr>
                  <td>Goal Name</td>
                  <td><input type="text"[(ngModel)]="EmergencyFundselect.goalname"></td>
                </tr>
                <tr>
                  <td>Priority</td>
                  <td><input type="text"[(ngModel)]="EmergencyFundselect.priority"></td>
                </tr>
                <tr>
                  <td>Amount Needed</td>
                  <td><input type="text"[(ngModel)]="EmergencyFundselect.price"></td>
                </tr>
                <tr>
                  <td>Notes</td>
                  <td><textarea rows="3" cols="50" name="comment" form="usrform"[(ngModel)]="EmergencyFundselect.notes"></td>
                </tr>
              </table>
            </div><!--end of row1.col1 div-->
            <div class="col-md-6"><!--startrow1.col2 div-->
              <tr>
                <td>Loan Requirement</td>
                <td><input type="text"[(ngModel)]="EmergencyFundselect.loanrequire"></td>
              </tr>
              <tr>
                <td>
                  Date of Creation
                </td>
                <td>
                  <input type="text"
                  placeholder="Datepicker"
                  class="form-control"
                  bsDatepicker [(ngModel)]="EmergencyFundselect.creationdate">
                </td>
              </tr>
            </div><!--end row1.col2 div-->
        </div><!--end row1 div-->
        <div class="pull-right">
          <button class="btn btn-info"(click)="saveEmergencyFund()" data-dismiss="modal">Submit</button>
          <button class="btn btn-danger" data-dismiss="modal">Cancle</button>
        </div>
        </div><!--end of emergency-tabpane div-->
        <div class="tab-pane fade container" id="pills-retirementfund" role="tabpanel"
          aria-labelledby="pills-retirementfund-tab"><!--start of retirement-tabpane div-->
          <div class="row"><!--start row1 div-->
            <div class="col-md-6"><!--start row1.col1 div-->
              <table>
                <tr>
                  <td>Goal Name</td>
                  <td><input type="text"[(ngModel)]="RetirementFundselect.goalname"></td>
                </tr>
                <tr>
                    <td>Goal Priority</td>
                    <td><input type="text"[(ngModel)]="RetirementFundselect.priority"></td>
                  </tr>
                  <tr>
                <tr>
                  <td>Goal Duration</td>
                  <td><input type="text"[(ngModel)]="RetirementFundselect.duration"></td>
                </tr>
                <tr>
                  <td>Annual Requirement</td>
                  <td><input type="text"[(ngModel)]="RetirementFundselect.price"></td>
                </tr>
                    <tr>
                      <td>Notes</td>
                      <td><textarea rows="3" cols="50" name="comment" form="usrform"[(ngModel)]="RetirementFundselect.notes"></td>
                    </tr>
                </table>
            </div><!--end row1.col1 div-->
            <div class="col-md-6"><!--start row1.col2 div-->
              <tr>
                <td>Loan Requirement</td>
                <td><input type="text"[(ngModel)]="RetirementFundselect.loanrequire"></td>
              </tr>
                <tr>
                  <td>
                    Date of Creation
                  </td>
                  <td>
                    <input type="text"
                    placeholder="Datepicker"
                    class="form-control"
                    bsDatepicker [(ngModel)]="RetirementFundselect.creationdate">
                  </td> 
                </tr>
            </div><!--end row1.col2 div-->
        </div>
        <div class="pull-right">
          <button class="btn btn-info"(click)="saveRetairementFund()" data-dismiss="modal">Submit</button>
          <button class="btn btn-danger" data-dismiss="modal">Cancle</button>
        </div>
      </div><!--end of retirement-tabpane div-->
        <div class="tab-pane fade container" id="pills-newgoal" role="tabpanel" 
          aria-labelledby="pills-newgoal-tab"><!--start of newgoal-tabpane div-->
          <div class="row"><!--start row1 div-->
            <div class="col-md-6"><!--start row1.col1 div-->
              <table>
                <tr>
                  <td>Goal Name</td>
                  <td><input type="text"[(ngModel)]="NewGoalselect.goalname"></td>
                </tr>
                <tr>
                  <td>Priority</td>
                  <td><input type="text"[(ngModel)]="NewGoalselect.priority"></td>
                </tr>
                  <tr>
                    <td>Price</td>
                    <td><input type="text"[(ngModel)]="NewGoalselect.price"></td>
                  </tr>
                  <tr>
                    <td>Notes</td>
                    <td><textarea rows="3" cols="50" name="comment" form="usrform" [(ngModel)]="NewGoalselect.notes"></td>
                  </tr>
                </table>
              </div><!--end row1.col1 div-->
              <div class="col-md-6"><!--start row1.col2 div-->
                <tr>
                  <td>
                    <!-- <select class="selectpicker" [(ngModel)]="NewGoalselect.loantype">
                      <option>personal</option>
                      <option>home</option>
                      <option>car</option>
                    </select> -->
                    <select [(ngModel)]="NewGoalselect.loantype">
                        <option value="personal">personal</option>
                        <option value="home">home</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td>Loan Requirement</td>
                  <td><input type="text"[(ngModel)]="NewGoalselect.loanrequire"></td>
                </tr>
                <tr>
                  <td>
                    Date of Creation
                  </td>
                  <td>
                    <input type="text"
                    placeholder="Datepicker"
                    class="form-control"
                    bsDatepicker [(ngModel)]="NewGoalselect.creationdate">
                  </td>
                </tr>
            </div><!--end row1.col2 div-->
          </div><!--start row1 div-->
          <div class="pull-right">
            <button class="btn btn-info"(click)="saveNewGoal()" data-dismiss="modal">Submit</button>
            <button class="btn btn-danger" data-dismiss="modal">Cancle</button>
          </div>
        </div><!--end of newgoal-tabpane div-->
      </div><!--End of tabContent div-->
    </div> <!-- end of fade modal -->
  </div><!--end of modal-dialog-->
</div>  <!-- end of modal -->
<button type="button" class="btn btn-link">
  <span>
    <i class="fa fa-info" aria-hidden="true"></i>
    <span>Help</span>
  </span>
</button>
<button type="button" class="btn btn-link">
  <span>
    <i class="fa fa-info" aria-hidden="true"></i>
    <span>Help</span>
  </span>
</button>
</div><!--end button-->
</div><!--div goal end-->
<div>
  <table class="table table-hover table-sm">
    <thead>
      <tr>
        <th scope="col">Goal Name</th>
        <th scope="col">Priority</th>
        <th scope="col">Linked Assets</th>
        <th scope="col">years</th>
        <th scope="col">Fund Needed</th>
        <th scope="col">Shortage</th>
      </tr>
    </thead> 
        <!-- <tbody>
          <tr *ngFor="let goalselect of goalselectArray">
            <td>{{goalselect.goalname}} </td>
            <td>{{goalselect.priority}}  </td>
            <td> {{goalselect.price}}</td>
            <td>{{goalselect.notes}}</td>
            <td>{{goalselect.prices}}</td>
            <td>{{goalselect.dob}}</td>
          </tr>
        </tbody> -->
  </table>
</div>







