<h3>
    <p class="font-weight-bold">Questinnaire</h3>
<!--start of buttons -->
<div>
    <div class="pull-right">
    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#lifeModal">
        <span>
            <i class="fa fa-plus" aria-hidden="true"></i>
            <span>Save</span>
        </span>
    </button>
    <button type="button" class="btn btn-link">
        <span>
            <i class="fa fa-info" aria-hidden="true"></i>
            <span>Help</span>
        </span>
    </button>
</div>


    <!-- modal start -->
    <div class="modal fade" id="lifeModal" tabindex="-1" role="dialog" aria-labelledby="lifeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="lifeModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
               <p>Data saved Successfully...</p>
            </div>
        </div>
    </div>
    <!-- end of modal -->
</div>
<!--end of buttons -->
<hr>

<h4>Please answer all the questions below.</h4>
<div class="container">
   
    <form>
    <div class="form-group" >
        <p>1) When you think of the word RISK which of the following first comes to mind?</p>

      <div class="radio">
        <label><input type="radio" name="riskradio" >Danger</label>
      </div>
      <div class="radio">
        <label><input type="radio" name="riskradio" >Opportunity</label>
      </div>
      <div class="radio">
        <label><input type="radio" name="riskradio">Uncertainty</label>
      </div>
      <div class="radio">
        <label><input type="radio" name="riskradio">Thrill</label>
      </div>
      <div class="radio">
        <label><input type="radio" name="riskradio" >Cautiousness but not fear</label>
      </div>
    </div> 
    <hr>
    <div class="form-group">
            <p>2) Assuming normal market conditions, you expect your investments</p>
    
          <div class="radio">
            <label><input type="radio" name="expectradio" >To have some stability and make modest profits</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="expectradio" >To preserve capital at all costs</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="expectradio" >To greatly exceed returns provided by equity market index</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="expectradio" >To atleast match returns provided by equity market index</label>
          </div>
        </div> 
       <hr>
       <div class="form-group">
            <p>3) Due to lost mail, your car will be without insurance for seven days. What will you do?</p>
    
          <div class="radio">
            <label><input type="radio" name="mailradio" >Take a ride with friends/family</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="mailradio">Take public transport</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="mailradio">Drive car carefully and as little as possible</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="mailradio"> No problem</label>
          </div>
        </div> 
       <hr>
       <div class="form-group">
            <p>4) You are on a TV game show and you just answered a question right. You are now entitled for a gift. There are four options in the gift, which one of the options would you choose?</p>
    
          <div class="radio">
            <label><input type="radio" name="tvradio" >80% chance of winning 1 crore</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="expectradio">10% chance of winning 10 crores</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="expectradio">30% chance of winning 3 crores</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="expectradio"> 50% chance of winning 2 crores</label>
          </div>
        </div> 
       <hr>
       <div class="form-group">
            <p>5) You have lost 5 lakhs at a casino. How much are you prepared to risk to win Rs. 5 lakhs back?</p>
    
          <div class="radio">
            <label><input type="radio" name="casinoradio"> 2,50,000</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="casinoradio"> 1,00,000</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="casinoradio">5,00,000</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="casinoradio">More than 5,00,000</label>
          </div>
          <div class="radio">
                <label><input type="radio" name="casinoradio">Nothing more than this</label>
              </div>
        </div> 
       <hr>
       <div class="form-group">
            <p>6) Your attitude towards personal investments recently has inclined towards?</p>
    
          <div class="radio">
            <label><input type="radio" name="attituderadio">Mostly towards higher risk</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="attituderadio" > Sometimes towards higher risk</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="attituderadio"> Mostly towards lower risk</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="attituderadio">Sometimes towards lower risk</label>
          </div>
          <div class="radio">
                <label><input type="radio" name="attituderadio">No changes</label>
              </div>
        </div> 
       <hr>
       <div class="form-group">
            <p>7) Which of the following describes your attitude towards your investment?</p>
    
          <div class="radio">
            <label><input type="radio" name="descradio"> Prefer investments with little or no fluctuations in value and low levels of risk. I am willing to accept lower rate of returns associated with these investments</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="descradio"> Prefer to diversify a mix of investments that have a low risk. Small part of portfolio could be directed towards higher risk assets</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="descradio" >Balanced portfolio</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="descradio">Emphasis on higher risk</label>
          </div>
          <div class="radio">
                <label><input type="radio" name="descradio">Only high return assets</label>
              </div>
        </div> 
       <hr>
       <div class="form-group">
            <p>8) How do you adapt/react to unfavourable financial changes in your life?</p>
    
          <div class="radio">
            <label><input type="radio" name="adaptradio">  Very easily</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="expectradio"> Somewhat easily</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="expectradio">Somewhat uneasily</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="expectradio">Very uneasily</label>
          </div>
        </div> 
       <hr>
       <div class="form-group">
            <p>9) If the market has fallen 40% over last 6 months would you </p>
    
          <div class="radio">
            <label><input type="radio" name="expectradio">  Sell all current investments</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="expectradio"> Sell part of current investment to invest into more stable, secure avenues</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="expectradio">Invest more funds to lower purchase price</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="expectradio">Status quo</label>
          </div>
        </div> 
       <hr>
       <div class="form-group">
            <p>10) Have you ever invested a large sum in a risky investment mainly for the thrill of seeing whether it went up or down in value?</p>
    
          <div class="radio">
            <label><input type="radio" name="expectradio">No</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="expectradio">Rarely</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="expectradio">Somewhat frequently</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="expectradio">Very frequently</label>
          </div>
        </div> 
       <hr>
       <div class="form-group">
            <p>11) Find below the potential yearly returns for five different portfolios ( Portfolio A to Portfolio E). Which Portfolio would you choose?</p>
    
          <div class="radio">
            <label><input type="radio" name="expectradio">-14% -8% 21% 12% 24%</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="expectradio"> 10% -3% 12% 12% 10%</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="expectradio"> 30% -26% -16% 38% -10%</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="expectradio"> -5% 15% -10% 12% 16%</label>
          </div>
        </div> 
       <hr>
       <div class="form-group">
            <p>12) How much of your portfolio has been acquired based on recommendations from your friends during a conversation?</p>
    
          <div class="radio">
            <label><input type="radio" name="expectradio">None</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="expectradio">Less than 20%</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="expectradio"> Less than 30%</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="expectradio">Less than 50%</label>
          </div>
          <div class="radio">
                <label><input type="radio" name="expectradio">Less than 75%</label>
              </div>
        </div> 
       <hr>
       <div class="form-group">
            <p>13) How familiar are you with investment matters? </p>
    
          <div class="radio">
            <label><input type="radio" name="expectradio"> No Clue</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="expectradio"> Basic Understanding of Banking Products</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="expectradio">Basic Understanding of Banking Products & Mutual Funds</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="expectradio"> Basic Understanding of Banking Products, Equities and Mutual Funds</label>
          </div>
          <div class="radio">
                <label><input type="radio" name="expectradio">Very familiar. Use research and other investment info on my own</label>
              </div>
        </div> 
       <hr>
       <div class="form-group">
            <p>14) How would you consider your understanding of financial investments and markets as?</p>
    
          <div class="radio">
            <label><input type="radio" name="expectradio">Lacking</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="expectradio"> Minimal</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="expectradio">  Inadequate</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="expectradio">Adequate</label>
          </div>
          <div class="radio">
                <label><input type="radio" name="expectradio">Superior</label>
              </div>
        </div> 
       <hr>
       <div class="form-group">
            <p>15) What is Risk v/s Reward? </p>
    
          <div class="radio">
            <label><input type="radio" name="expectradio">Increased Risk decreases the Reward</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="expectradio">Risk and Reward do not go together</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="expectradio">  Less Risk increases the possibility of Reward</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="expectradio">Increased Risk Increases possibility of Greater Reward</label>
          </div>
        </div> 
       <hr>
       <div class="form-group">
            <p>16) Which of the following describes your current stage in life? </p>
    
          <div class="radio">
            <label><input type="radio" name="expectradio"> Single with few financial burdens. Ready to accumulate wealth for future short term as well as long term needs</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="expectradio"> Couple without children. Establish a home. Expecting to or already have a high purchase rate of household and consumer items</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="expectradio">Young family with home. You have mortgage and childcare costs and maintain only small cash balances</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="expectradio"> Mature family. In your peak earning years. Children grown up. Starting to think of retirement years</label>
          </div>
          <div class="radio">
                <label><input type="radio" name="expectradio">Retired</label>
              </div>
        </div> 
       <hr>
       <div class="form-group">
            <p>17) You have invested all your savings in the stock markets. The markets have suddenly started to crash. How long will you wait before selling your portfolio? </p>
    
          <div class="radio">
            <label><input type="radio" name="expectradio"> 6 Months</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="expectradio"> 1 year</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="expectradio">2 years</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="expectradio"> 3 years</label>
          </div>
          <div class="radio">
                <label><input type="radio" name="expectradio">Less than 3 months</label>
              </div>
        </div> 
       <hr>
       <div class="form-group">
            <p>18) Desired time horizon for portfolio? </p>
    
          <div class="radio">
            <label><input type="radio" name="expectradio"> 0-1 years (Immediate Term)</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="expectradio"> 1-3 years (Short Term)</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="expectradio"> 3-7 Years (Medium Term)</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="expectradio">8+ Years (Long Term)</label>
          </div>
        </div> 
       <hr>
       <div class="form-group">
            <p>19) Choose one of the following attributes</p>
    
          <div class="radio">
            <label><input type="radio" name="expectradio"> Capital preservation</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="expectradio">Reasonable Growth</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="expectradio"> Low volatility</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="expectradio">Inflation protection</label>
          </div>
          <div class="radio">
                <label><input type="radio" name="expectradio"> Aggresive growth</label>
              </div>
          <div class="radio">
                    <label><input type="radio" name="expectradio">Tax efficiency</label>
         </div>
         <div class="radio">
                        <label><input type="radio" name="expectradio">Leverage for Growth</label>
         </div>
        </div> 
       <hr>
       <div class="form-group">
            <p>20) Which of the following describes your objective of investing? </p>
    
          <div class="radio">
            <label><input type="radio" name="expectradio"> You have an investment horizon of more than 5 years. You understand investment markets are mainly investing for growth to accumulate long term wealth</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="expectradio">You are not nearing retirement, have surplus funds to invest and are aiming to accumulate long term wealth from a balanced portfolio</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="expectradio">   You have a lumpsum and are uncertain about suitable investment options</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="expectradio"> Investing for retirement</label>
          </div>
          <div class="radio">
                <label><input type="radio" name="expectradio"> You have specific obectives over next 5 years for which you are setting money aside</label>
              </div>
              <div class="radio">
                    <label><input type="radio" name="expectradio">  You want a regular income stream and protection of your capital</label>
                  </div>
        </div> 
       <hr>
    </form>
    <div class="pull-right">
            <button type="button" class="btn btn-link" data-toggle="modal" data-target="#lifeModal">
                <span>
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    <span>Save</span>
                </span>
            </button>
        </div>
        
  </div>
  