<div><!--start of main div -->
  <div  style=" opacity: 10;
  transition: all 700ms ease;
  right: 0;
  left: 0;
  background: #fff;
  -webkit-box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
  z-index: 5;
  line-height: 20px;
  font-size: 0.75em;
  font-weight: 500;
  vertical-align: middle;
  border-radius: 10px;">
    <div style="border-radius: 10px;"><!--start of navbar div -->
      <nav  class="navbar navbar-expand-md navbar-dark bg-dark "  
            style=" margin-top:0px; border-radius: 10px;"><!--start of nav div -->
        <div class="collapse navbar-collapse" id="navbarsExampleDefault"><!--start of navbar1 div -->
          <ul class="navbar-nav mr-auto"><!--start of ul div -->
            <li class="nav-item " style="margin-left:10px">
              <a class="nav-link" >FIN HEALTH SCORE 200/1000 </a>
            </li>
            <li class="nav-item"  style="margin-left:250px">
              <a class="nav-link">SURPLUS  0</a>
            </li>
            <li class="nav-item"  style="margin-left:200px">
              <a class="nav-link ">NETWORTH  0</a>
            </li>
            <li class="nav-item"  style="margin-left:250px">
              <a class="nav-link ">GOALS ACHIEVABLE 1 /1</a>
            </li>
          </ul><!--end of ul div -->
        </div><!--end of navbar1 div -->
      </nav><!--end of nav div -->
    </div><!--end of navbar div -->
  </div><!--end of style div -->
    <ul class="nav nav-tabs" id="myTab" role="tablist"><!--start of ul tab div -->
      <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Myprofile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">FamilyProfile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Assumtion</a>
      </li>
    </ul><!--end of ul tab div -->
    <div class="tab-content" id="myTabContent"><!--start of tabcontent div -->
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="profile-tab"><!--start of myprofile div -->
      <div class="navbar navbar-expand-lg navbar-light bg-light"><!--start of navbar-->
        <h4>Personal Details</h4>
        <ul class="navbar-nav"><!--start ul-->
          <li class="nav-item">
            <button class="btn btn-link"><a class="nav-link" (click)="saveDetail()">Save</a></button>  
          </li>
          <li class="nav-item">
            <button class="btn btn-link"><a class="nav-link"  href="#">Cancle</a></button>  
          </li>
          <li class="nav-item">
            <button class="btn btn-link"><a class="nav-link" href="#">Help</a></button>  
          </li>
          <li class="nav-item">
            <button class="btn btn-link"><a class="nav-link" href="#">Help</a></button>  
          </li>
        </ul><!--end ul-->
    </div><!--end of navbar-->
    <div class="container"><!--start of container-->
      <div class="navbar navbar-expand-lg navbar-light navb"style="background-color: #e3f2fd;"><!--start of navbar-->
        <h5>Personal Information</h5>
      </div><!--end of navbar-->
        <p></p>
        <form><!--start of form-->
          <div class="form-row"><!--start of row-->
            <div class="col-md-4 mb-3"><!--start of col1-->
              <label for="validationCustom01">First name</label>
              <input type="text" class="form-control" name="fname" [(ngModel)]="myProfile.fname">
              <div class="valid-feedback">
              </div>
            </div><!--end of col1-->
            <div class="col-md-4 mb-3"><!--start of col2-->
              <label for="validationCustom01">Middle name</label>
              <input type="text" class="form-control"name="mname" [(ngModel)]="myProfile.mname">
              <div class="valid-feedback">
              </div>
            </div><!--end of col2-->
            <div class="col-md-4 mb-3"><!--start of col3-->
              <label for="validationCustom01">Last name</label>
              <input type="text" class="form-control" name="lname" [(ngModel)]="myProfile.lname">
              <div class="valid-feedback">
              </div>
            </div><!--end of col3-->
            <div class="col-md-2 mb-3"><!--start of col4-->
                <input type="text"
                       placeholder="Datepicker"
                       class="form-control"
                       bsDatepicker  name="dob"  [(ngModel)]="myProfile.dob">
            </div><!--end of col4-->
            <div class="col-sm-2"><!--start of col5-->
              <label for="validationCustom01">Gender</label><br>
                <select name="gender" [(ngModel)]="myProfile.gender">
                    <option value="Male">male</option>
                    <option value="Female">female</option>
                </select>
           </div><!--end of col5-->
            <div class="col-sm-2"><!--start of col6-->
              <label for="validationCustom01">Marital Status</label><br>
              <select  name="maritalstatus" [(ngModel)]="myProfile.maritalstatus">
                  <option value="Single">Single</option>
                  <option value="married">Married</option>
              </select>
            </div><!--end of col6-->
            <div class="col-sm-3"><!--start of col7-->
              <label for="validationCustom01">Mobile</label><br>
              <input type="text" id="validationCustom01"  name="mobile" [(ngModel)]="myProfile.mobile" required>
              <div class="valid-feedback">
            </div>
            </div><!--end of col7-->
            <div class="col-sm-2"><!--start of col8-->
              <label for="validationCustom01">Alternate Mobile</label><br>
              <input type="text" id="validationCustom01"  name="almobile" [(ngModel)]="myProfile.almobile" required>
              <div class="valid-feedback">
              </div>
            </div><!--end of col8-->
              <div class="col-md-4 mb-3"><!--start of col9-->
                <label for="validationCustom01">Occupation</label>
                <input type="text" class="form-control" id="validationCustom01"  name="occupation" [(ngModel)]="myProfile.occupation" required>
                <div class="valid-feedback">
                </div>
            </div><!--end of col9-->
            <div class="col-md-4 mb-3"><!--start of col10-->
              <label for="validationCustom01">Company</label>
              <input type="text" class="form-control" id="validationCustom01"  name="company" [(ngModel)]="myProfile.company" required>
              <div class="valid-feedback">
            </div>
          </div><!--end of col10-->
          <div class="col-md-4 mb-3"><!--start of col11-->
            <label for="">How did you know about us?</label>
            <select class="form-control"  name="howknow"  [(ngModel)]="myProfile.howknow">
              <option value="Advertiesment">Advertiesment</option>
              <option value="By Friend">By Friend</option>
            </select>
          </div><!--end of col11-->
        </div><!--end of row-->
        <div class="navbar navbar-expand-lg navbar-light"style="background-color: #e3f2fd;"><!--start of navbar-->
          <h5>Cammunication Information</h5>
        </div><!--end of navbar-->
        <p></p>
        <div>
          <label for="validationCustom01">Address</label>
          <textarea class="form-control" id="Address" rows="3"  name="address"  [(ngModel)]="myProfile.address"></textarea>
        </div>
          <div class="form-row">
            <div class="col-md-2">
              <label for="validationCustom01">Email-Id</label>
              <input type="text" class="form-control" id="Email-id" placeholder=""  name="email" [(ngModel)]="myProfile.email">
            </div>
            <div class="col-md-2">
              <label for="validationCustom01">PAN</label>
              <input type="text" class="form-control" id="pan" placeholder="" name="pan"  [(ngModel)]="myProfile.pan">
            </div>
            <div class="col-md-2">
              <label for="validationCustom01">Country</label>
              <input type="text" class="form-control" id="country" placeholder=""  name="country" [(ngModel)]="myProfile.country" >
            </div>
            <div class="col-md-2">
              <label for="validationCustom01">State</label>
              <input type="text" class="form-control" id="State" placeholder=""  name="state" [(ngModel)]="myProfile.state" >
            </div>
           <div class="col-md-2">
              <label for="validationCustom01">City</label>
              <input type="text" class="form-control" id="city" placeholder="" name="city" [(ngModel)]="myProfile.city">
          </div>
          <div class="col-md-2">
            <label for="validationCustom01">Pin</label>
            <input type="text" class="form-control" id="pin" placeholder=""  name="pin" [(ngModel)]="myProfile.pin">
          </div>
        </div>
      </form><!--end of form-->
    </div><!--end of container-->
    <div>
      <table border="2">
        <tr>
          <th>Name</th>
          <th>Mname</th>
          <th>Lname</th>
          <th>Dob</th>
          <th>Gender</th>
          <th>Maritalstatus</th>
          <th>Mobile</th>
          <th>Almobile</th>
          <th>Occupation</th>
          <th>Company</th>
          <th>How Know</th>
          <th>Address</th>
          <th>E-Mail</th>
          <th>Pan</th>
          <th>Country</th>
          <th>State</th>
          <th>City</th>
          <th>Pin</th>
        </tr>
        <tr *ngFor="let server of servers">
          <td>{{server.fname}}</td>
          <td>{{server.mname}}</td>
          <td>{{server.lname}}</td>
          <td>{{server.dob}}</td>
          <td>{{server.gender}}</td>
          <td>{{server.maritalstatus}}</td>
          <td>{{server.mobile}}</td>
          <td>{{server.almobile}}</td>
          <td>{{server.occupation}}</td>
          <td>{{server.company}}</td>
          <td>{{server.howknow}}</td>
          <td>{{server.address}}</td>
          <td>{{server.email}}</td>
          <td>{{server.pan}}</td>
          <td>{{server.country}}</td>
          <td>{{server.state}}</td>
          <td>{{server.city}}</td>
          <td>{{server.pin}}</td>
        </tr>
      </table>
    </div>
      </div><!--end of myprofile div -->
      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="home-tab"><!--start of Familyprofile div -->
        <div class="container"><!--start of container div -->
          <div class="navbar navbar-expand-lg navbar-light navb"style="background-color: #e3f2fd;"><!--start of navbar3 div -->
            <h5>Enter Relationship Details<span class="glyphicons glyphicons-remove-circle"></span></h5>
          </div><!--end of navbar3 div -->
            <div class="row"><!--start of row1 div -->
              <div class="col-md-6"><!--start of col1 div -->
                <label for="exampleFormControlInput1">RelationShip</label>
                  <select name="relationship" [(ngModel)]="familyProfile.relationship">
                    <option>mother</option>
                    <option>father</option>
                    <option>spouse</option>
                    <option>son</option>
                    <option>Daughter</option>
                  </select>
              </div><!--end of col1 div -->
            </div><!--end of row1 div -->
            <div class="row"><!--start of row2 div -->
              <div class="col-md-4"><!--start of row2.col1 div -->
                <div class="form-group row"><!--start of formgroup div -->
                  <label for="inputPassword" class="col-sm-4 col-form-label">First name</label>
                  <div class="col-sm-7">
                    <input type="text" class="form-control" id="firstname" name="fsname" [(ngModel)]="familyProfile.fsname" placeholder="firstName">
                  </div>
                </div><!--end of formgroup div -->
              </div><!--end of row2.col1 div -->
              <div class="col-md-4"><!--start of row2.col2 div -->
                <div class="form-group row"><!--start of formgroup div -->
                  <label for="inputPassword" class="col-sm-4 col-form-label">Middle Name</label>
                  <div class="col-sm-7"><!--start of row2.col3 div -->
                    <input type="text" class="form-control" id="middlename" name="miname" [(ngModel)]="familyProfile.miname" placeholder="MiddleName">
                  </div><!--end of row2.col3 div -->
                </div><!--end of formgroup div -->
              </div><!--start of row2.col2 div -->
              <div class="col-md-4"><!--start of row2.col4 div -->
                <div class="form-group row"><!--start of formgroup div -->
                  <label for="inputPassword" class="col-sm-4 col-form-label">Last Name</label>
                    <div class="col-sm-7">
                      <input type="text" class="form-control" id="lastname" name="lname" [(ngModel)]="familyProfile.lsname" placeholder="Lastname">
                    </div>
                </div><!--end of formgroup div -->
              </div><!--end of row2.col4 div -->
              <!--start of row2.col5 div -->
              <div class="col-md-6">
               <div class="col-md-5 mb-5"><!--start of col4-->
                  <input type="text"
                          placeholder="Date of birth"
                          class="form-control"
                          bsDatepicker name="dob" [(ngModel)]="myProfile.dob">
                </div>
              </div>
              <!--end of row2.col5 div -->
              <div class="col-md-6"><!--start of row2.col6 div -->
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="check" [(ngModel)]="familyProfile.check">&nbsp;
                  <label class="form-check-label" for="inlineCheckbox1">&nbsp;<h5>Is Earning?</h5></label>
                </div>
              </div><!--end of row2.col6 div -->
          </div><!--end of row2 div -->
          <div class="row"><!--start of row3 div -->
            <div class="col-md-6">
                <div class="form-group row">
                  <label for="inputPassword" class="col-md-2 col-form-label">Email</label>
                  <div class="col-md-9">
                    <input type="text" class="form-control" id="lastname" placeholder="">
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label for="inputPassword" class="col-md-3 col-form-label">Phone Number</label>
                  <div class="col-md-2">
                    <input type="text" class="form-control" id="lastname" placeholder="contrycode">
                  </div>
                  <div class="col-md-2">
                    <input type="text" class="form-control" id="lastname" placeholder="areacode">
                  </div>
                  <div class="col-md-4">
                    <input type="text" class="form-control" id="lastname" placeholder="Number">
                  </div>
                </div>
              </div>
          </div><!--end of row3 div -->
          <div class="float-right">
            <tr>
              <td><button class="btn btn-primary"(click)="saveFPdetail()">Submit</button></td>&nbsp;&nbsp;
              <td><button class="btn btn-danger">Cancle</button></td>
            </tr>
          </div>
      </div><!--end of container div -->
    </div><!--end of Familyprofile div -->
          <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab"><!--start of Assumption div -->
            <div class="navbar navbar-expand-lg navbar-light bg-light"><!--start of navbar-->
              <h4>Assumption</h4>
              <ul class="navbar-nav"><!--start ul-->
                <li class="nav-item">
                  <button class="btn btn-link"><a class="nav-link" (click)="saveAssumption()">Save</a></button>  
                </li>
                <li class="nav-item">
                  <button class="btn btn-link"><a class="nav-link"  href="#">Cancle</a></button>  
                </li>
                <li class="nav-item">
                  <button class="btn btn-link"><a class="nav-link" href="#">Help</a></button>  
                </li>
                <li class="nav-item">
                  <button class="btn btn-link"><a class="nav-link" href="#">Help</a></button>  
                </li>
              </ul><!--end ul-->
            </div><!--end of navbar-->
        <p>Common Assumption</p>
            <div class="row"><!--start of row1-->
              <div class="col-md-3"><!--start of row1.col1-->
                <h5>Before Retirement</h5>
              </div><!--end of row1.col1-->
              <div class="col-md-3"><!--start of row1.col2-->
                <tr>
                  <td>Rate of Return</td>
                  <td><input type="text" size="3" name="BRrateOfReturn" [(ngModel)]="assumption.BRrateOfReturn"></td>
                </tr>
              </div><!--end of row1.col2-->
          <div class="col-md-3"><!--start of row1.col3-->
            <tr>
                <td>Inflation</td>
                <td><input type="text" size="3" name="BRinflation" [(ngModel)]="assumption.BRinflation"></td>
              </tr>
          </div><!--end of row1.col3-->
          <div class="col-md-3"><!--start of row1.col4-->
            <tr>
              <td>Real Rate of Return</td>
              <td><input type="text" size="3" name="BRrealRateOfReturn" [(ngModel)]="assumption.BRrealRateOfReturn"></td>
            </tr>
          </div><!--end of row1.col4-->
          </div><!--end of row1-->
          <div class="row"><!--start of row1-->
            <div class="col-md-3"><!--start of row1.col1-->
              <h5>After Retirement</h5>
            </div><!--end of row1.col1-->
            <div class="col-md-3"><!--start of row1.col2-->
              <tr>
                <td>Rate of Return</td>
                <td><input type="text" size="3" name="ARrateOfReturn" [(ngModel)]="assumption.ARrateOfReturn"></td>
              </tr>
            </div><!--end of row1.col2-->
            <div class="col-md-3"><!--start of row1.col3-->
              <tr>
                  <td>Inflation</td>
                  <td><input type="text" size="3" name="ARinflation" [(ngModel)]="assumption.ARinflation"></td>
                </tr>
            </div><!--end of row1.col3-->
            <div class="col-md-3"><!--start of row1.col4-->
              <tr>
                  <td> Real Rate of Return</td>
                  <td><input type="text" size="3" name="ARrealRateOfReturn" [(ngModel)]="assumption.ARrealRateOfReturn"></td>
                </tr>
            </div><!--end of row1.col4-->
        </div><!--end of row1-->
        <div class="row"><!--start of row1-->
        <div class="col-md-3"><!--start of row1.col1-->
          <h5>Surplus</h5>
        </div><!--end of row1.col1-->
        <div class="col-md-5"><!--start of row1.col2-->
          <tr>
            <td>percentage of surplus to invest</td>
            <td><input type="text" size="35" name="SurplusPercentInvest" [(ngModel)]="assumption.SurplusPercentInvest"></td>
          </tr>
        </div><!--end of row1.col2-->
        <div class="col-md-4"><!--start of row1.col3-->
          <tr>
              <td>percentage of surplus to insurance</td>
              <td><input type="text" size="10" name="SurplusPercentInsurance" [(ngModel)]="assumption.SurplusPercentInsurance"></td>
            </tr>
        </div><!--end of row1.col3-->
      </div><!--end of row1-->
      <p style="height: 30px; width:auto; background-color:cornflowerblue;">Assumption for User Name</p>
      <div class="row"><!--start of row1-->
        <div class="col-md-3"><!--start of row1.col1-->
        </div><!--end of row1.col1-->
        <div class="col-md-3"><!--start of row1.col2-->
          <tr>
            <td>Age of Retirement</td>
            <td><input type="text" size="3" name="AgeOfRetirement" [(ngModel)]="assumption.AgeOfRetirement"></td>
          </tr>
        </div><!--end of row1.col2-->
        <div class="col-md-1"><!--start of row1.col3-->
        </div><!--end of row1.col3-->
        <div class="col-md-2"><!--start of row1.col4-->
          <tr>
            <td>life Expentancy</td>
            <td><input type="text" size="3" name="LifeExpentancy" [(ngModel)]="assumption.LifeExpentancy"></td>
          </tr>
        </div><!--end of row1.col4-->
        <div class="col-md-3"><!--start of row1.col5-->
        </div><!--start of row1.col5-->
      </div><!--start of row1-->
    </div><!--end of Assumption div -->
  </div><!--end of tabcontent div -->
</div><!--end of main div -->
       