<div class="row">
    <div class="col-md-9">
        <div [ngSwitch]="isAuthenticated()">
            <div *ngSwitchCase="true">
                <jhi-payment></jhi-payment>
            </div>
            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>Oops you didnt Sign In </span>
                <a class="alert-link" (click)="login()">sign in</a><span>Please Sign-in to continue</span>
            </div>
            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>You don't have an account yet?</span>
                <a class="alert-link" (click)="register()">Register a new account</a>
            </div>
        </div>
    </div>
</div>

