<div>
    <h2>
        <span>Demoentities</span>
        <button class="btn btn-primary float-right jh-create-entity create-demoentity" [routerLink]="['/', { outlets: { popup: ['demoentity-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Demoentity
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="demoentities">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Username</span></th>
            <th><span>Password</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let demoentity of demoentities ;trackBy: trackId">
                <td><a [routerLink]="['../demoentity', demoentity.id ]">{{demoentity.id}}</a></td>
                <td>{{demoentity.username}}</td>
                <td>{{demoentity.password}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../demoentity', demoentity.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'demoentity/'+ demoentity.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'demoentity/'+ demoentity.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
